Question1. Header tag from "wikipedia.org"

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\vikas\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\vikas\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\vikas\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\vikas\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vikas\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vikas\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vikas\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\vikas\anaconda3\lib\site-packages (from requests) (2.0.4)

In [2]:
#import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
# sending request to the web page
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [4]:
#page content
soup=BeautifulSoup(page.content, "html.parser")

In [5]:
header_tag=soup.find_all(['h1','h2','h3','h4','h5','h6'])
header_tag

[<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>,
 <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 class="vector-menu-heading" id="p-personal-label">
 <span class="vector-menu-heading-label">Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span class="vector-menu-heading-label">Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span class="vector-menu-heading-label">Views</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span class="vector-menu-heading-label">Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span class="vector-menu-heading-label">Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span class="vector-menu-heading-label">Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span class="vector-menu-heading-label">Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span class="vector-menu-heading-label">In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span class="vector-menu-heading-label">Languages</span>
 </h3>]

In [6]:
headers=[]
for header in header_tag:
    header=header.get_text().replace('\n','')
    headers.append(header)
headers

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Views',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

In [7]:
data=pd.DataFrame()
data['Header Tag']=headers
data

                       Header Tag
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6        Today's featured picture
7        Other areas of Wikipedia
8     Wikipedia's sister projects
9             Wikipedia languages
10                Navigation menu
11                 Personal tools
12                     Namespaces
13                          Views
14                         Search
15                     Navigation
16                     Contribute
17                          Tools
18                   Print/export
19              In other projects
20                      Languages

Q2. IMDB’s Top rated 100 movies’ data

In [8]:
url="https://www.imdb.com/chart/top/"

In [9]:
# sending request to the web page
page=requests.get(url)
page

In [10]:
soup=BeautifulSoup(page.content, "html.parser")

In [11]:
top_movies=soup.find_all('td', class_='titleColumn') 
top_movies

[<td class="titleColumn">
       1.
       <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0068646/" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">The Godfather</a>
 <span class="secondaryInfo">(1972)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt0468569/" title="Christopher Nolan (dir.), Christian Bale, Heath Ledger">The Dark Knight</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       4.
       <a href="/title/tt0071562/" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">The Godfather Part II</a>
 <span class="secondaryInfo">(1974)</span>
 </td>,
 <td class="titleColumn">
       5.
       <a href="/title/tt0050083/" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">12 Angry Men</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       6.
       <a href="/title/tt0108052/" title="Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes">Schindler's List</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       7.
       <a href="/title/tt0167260/" title="Peter Jackson (dir.), Elijah Wood, Viggo Mortensen">The Lord of the Rings: The Return of the King</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       8.
       <a href="/title/tt0110912/" title="Quentin Tarantino (dir.), John Travolta, Uma Thurman">Pulp Fiction</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       9.
       <a href="/title/tt0120737/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Fellowship of the Ring</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       10.
       <a href="/title/tt0060196/" title="Sergio Leone (dir.), Clint Eastwood, Eli Wallach">Il buono, il brutto, il cattivo</a>
 <span class="secondaryInfo">(1966)</span>
 </td>,
 <td class="titleColumn">
       11.
       <a href="/title/tt0109830/" title="Robert Zemeckis (dir.), Tom Hanks, Robin Wright">Forrest Gump</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       12.
       <a href="/title/tt0137523/" title="David Fincher (dir.), Brad Pitt, Edward Norton">Fight Club</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       13.
       <a href="/title/tt1375666/" title="Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt">Inception</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       14.
       <a href="/title/tt0167261/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">The Lord of the Rings: The Two Towers</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       15.
       <a href="/title/tt0080684/" title="Irvin Kershner (dir.), Mark Hamill, Harrison Ford">The Empire Strikes Back</a>
 <span class="secondaryInfo">(1980)</span>
 </td>,
 <td class="titleColumn">
       16.
       <a href="/title/tt0133093/" title="Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne">The Matrix</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       17.
       <a href="/title/tt0099685/" title="Martin Scorsese (dir.), Robert De Niro, Ray Liotta">Goodfellas</a>
 <span class="secondaryInfo">(1990)</span>
 </td>,
 <td class="titleColumn">
       18.
       <a href="/title/tt0073486/" title="Milos Forman (dir.), Jack Nicholson, Louise Fletcher">One Flew Over the Cuckoo's Nest</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       19.
       <a href="/title/tt0114369/" title="David Fincher (dir.), Morgan Freeman, Brad Pitt">Se7en</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       20.
       <a href="/title/tt0047478/" title="Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura">Shichinin no samurai</a>
 <span class="secondaryInfo">(1954)</span>
 </td>,
 <td class="titleColumn">
       21.
       <a href="/title/tt0038650/" title="Frank Capra (dir.), James Stewart, Donna Reed">It's a Wonderful Life</a>
 <span class="secondaryInfo">(1946)</span>
 </td>,
 <td class="titleColumn">
       22.
       <a href="/title/tt0102926/" title="Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins">The Silence of the Lambs</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       23.
       <a href="/title/tt0317248/" title="Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino">Cidade de Deus</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       24.
       <a href="/title/tt0120815/" title="Steven Spielberg (dir.), Tom Hanks, Matt Damon">Saving Private Ryan</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       25.
       <a href="/title/tt0118799/" title="Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi">La vita è bella</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       26.
       <a href="/title/tt0120689/" title="Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan">The Green Mile</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       27.
       <a href="/title/tt0816692/" title="Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway">Interstellar</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       28.
       <a href="/title/tt0076759/" title="George Lucas (dir.), Mark Hamill, Harrison Ford">Star Wars</a>
 <span class="secondaryInfo">(1977)</span>
 </td>,
 <td class="titleColumn">
       29.
       <a href="/title/tt0103064/" title="James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton">Terminator 2: Judgment Day</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       30.
       <a href="/title/tt0088763/" title="Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd">Back to the Future</a>
 <span class="secondaryInfo">(1985)</span>
 </td>,
 <td class="titleColumn">
       31.
       <a href="/title/tt0245429/" title="Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette">Sen to Chihiro no kamikakushi</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       32.
       <a href="/title/tt0054215/" title="Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh">Psycho</a>
 <span class="secondaryInfo">(1960)</span>
 </td>,
 <td class="titleColumn">
       33.
       <a href="/title/tt0253474/" title="Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann">The Pianist</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       34.
       <a href="/title/tt0110413/" title="Luc Besson (dir.), Jean Reno, Gary Oldman">Léon</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       35.
       <a href="/title/tt6751668/" title="Bong Joon Ho (dir.), Song Kang-ho, Sun-kyun Lee">Gisaengchung</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       36.
       <a href="/title/tt0110357/" title="Roger Allers (dir.), Matthew Broderick, Jeremy Irons">The Lion King</a>
 <span class="secondaryInfo">(1994)</span>
 </td>,
 <td class="titleColumn">
       37.
       <a href="/title/tt0172495/" title="Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix">Gladiator</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       38.
       <a href="/title/tt0120586/" title="Tony Kaye (dir.), Edward Norton, Edward Furlong">American History X</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       39.
       <a href="/title/tt0407887/" title="Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon">The Departed</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       40.
       <a href="/title/tt0114814/" title="Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne">The Usual Suspects</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       41.
       <a href="/title/tt0482571/" title="Christopher Nolan (dir.), Christian Bale, Hugh Jackman">The Prestige</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       42.
       <a href="/title/tt0034583/" title="Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman">Casablanca</a>
 <span class="secondaryInfo">(1942)</span>
 </td>,
 <td class="titleColumn">
       43.
       <a href="/title/tt2582802/" title="Damien Chazelle (dir.), Miles Teller, J.K. Simmons">Whiplash</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       44.
       <a href="/title/tt1675434/" title="Olivier Nakache (dir.), François Cluzet, Omar Sy">The Intouchables</a>
 <span class="secondaryInfo">(2011)</span>
 </td>,
 <td class="titleColumn">
       45.
       <a href="/title/tt0095327/" title="Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi">Hotaru no haka</a>
 <span class="secondaryInfo">(1988)</span>
 </td>,
 <td class="titleColumn">
       46.
       <a href="/title/tt0056058/" title="Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama">Seppuku</a>
 <span class="secondaryInfo">(1962)</span>
 </td>,
 <td class="titleColumn">
       47.
       <a href="/title/tt0027977/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">Modern Times</a>
 <span class="secondaryInfo">(1936)</span>
 </td>,
 <td class="titleColumn">
       48.
       <a href="/title/tt0064116/" title="Sergio Leone (dir.), Henry Fonda, Charles Bronson">Once Upon a Time in the West</a>
 <span class="secondaryInfo">(1968)</span>
 </td>,
 <td class="titleColumn">
       49.
       <a href="/title/tt0047396/" title="Alfred Hitchcock (dir.), James Stewart, Grace Kelly">Rear Window</a>
 <span class="secondaryInfo">(1954)</span>
 </td>,
 <td class="titleColumn">
       50.
       <a href="/title/tt0078748/" title="Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt">Alien</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       51.
       <a href="/title/tt0021749/" title="Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill">City Lights</a>
 <span class="secondaryInfo">(1931)</span>
 </td>,
 <td class="titleColumn">
       52.
       <a href="/title/tt0095765/" title="Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale">Nuovo Cinema Paradiso</a>
 <span class="secondaryInfo">(1988)</span>
 </td>,
 <td class="titleColumn">
       53.
       <a href="/title/tt0078788/" title="Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando">Apocalypse Now</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       54.
       <a href="/title/tt0209144/" title="Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss">Memento</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       55.
       <a href="/title/tt0082971/" title="Steven Spielberg (dir.), Harrison Ford, Karen Allen">Raiders of the Lost Ark</a>
 <span class="secondaryInfo">(1981)</span>
 </td>,
 <td class="titleColumn">
       56.
       <a href="/title/tt1853728/" title="Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz">Django Unchained</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       57.
       <a href="/title/tt0910970/" title="Andrew Stanton (dir.), Ben Burtt, Elissa Knight">WALL·E</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       58.
       <a href="/title/tt0405094/" title="Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck">The Lives of Others</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       59.
       <a href="/title/tt0043014/" title="Billy Wilder (dir.), William Holden, Gloria Swanson">Sunset Blvd.</a>
 <span class="secondaryInfo">(1950)</span>
 </td>,
 <td class="titleColumn">
       60.
       <a href="/title/tt0050825/" title="Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker">Paths of Glory</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       61.
       <a href="/title/tt0081505/" title="Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall">The Shining</a>
 <span class="secondaryInfo">(1980)</span>
 </td>,
 <td class="titleColumn">
       62.
       <a href="/title/tt1745960/" title="Joseph Kosinski (dir.), Tom Cruise, Jennifer Connelly">Top Gun: Maverick</a>
 <span class="secondaryInfo">(2022)</span>
 </td>,
 <td class="titleColumn">
       63.
       <a href="/title/tt0032553/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">The Great Dictator</a>
 <span class="secondaryInfo">(1940)</span>
 </td>,
 <td class="titleColumn">
       64.
       <a href="/title/tt0051201/" title="Billy Wilder (dir.), Tyrone Power, Marlene Dietrich">Witness for the Prosecution</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       65.
       <a href="/title/tt4154756/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth">Avengers: Infinity War</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       66.
       <a href="/title/tt0090605/" title="James Cameron (dir.), Sigourney Weaver, Michael Biehn">Aliens</a>
 <span class="secondaryInfo">(1986)</span>
 </td>,
 <td class="titleColumn">
       67.
       <a href="/title/tt0169547/" title="Sam Mendes (dir.), Kevin Spacey, Annette Bening">American Beauty</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       68.
       <a href="/title/tt0057012/" title="Stanley Kubrick (dir.), Peter Sellers, George C. Scott">Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb</a>
 <span class="secondaryInfo">(1964)</span>
 </td>,
 <td class="titleColumn">
       69.
       <a href="/title/tt4633694/" title="Bob Persichetti (dir.), Shameik Moore, Jake Johnson">Spider-Man: Into the Spider-Verse</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       70.
       <a href="/title/tt1345836/" title="Christopher Nolan (dir.), Christian Bale, Tom Hardy">The Dark Knight Rises</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       71.
       <a href="/title/tt0364569/" title="Park Chan-wook (dir.), Choi Min-sik, Yoo Ji-tae">Oldeuboi</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       72.
       <a href="/title/tt7286456/" title="Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro">Joker</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       73.
       <a href="/title/tt0086879/" title="Milos Forman (dir.), F. Murray Abraham, Tom Hulce">Amadeus</a>
 <span class="secondaryInfo">(1984)</span>
 </td>,
 <td class="titleColumn">
       74.
       <a href="/title/tt0112573/" title="Mel Gibson (dir.), Mel Gibson, Sophie Marceau">Braveheart</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       75.
       <a href="/title/tt0114709/" title="John Lasseter (dir.), Tom Hanks, Tim Allen">Toy Story</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       76.
       <a href="/title/tt2380307/" title="Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal">Coco</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       77.
       <a href="/title/tt0361748/" title="Quentin Tarantino (dir.), Brad Pitt, Diane Kruger">Inglourious Basterds</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       78.
       <a href="/title/tt0082096/" title="Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer">Das Boot</a>
 <span class="secondaryInfo">(1981)</span>
 </td>,
 <td class="titleColumn">
       79.
       <a href="/title/tt0119698/" title="Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida">Mononoke-hime</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       80.
       <a href="/title/tt4154796/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Evans">Avengers: Endgame</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       81.
       <a href="/title/tt0087843/" title="Sergio Leone (dir.), Robert De Niro, James Woods">Once Upon a Time in America</a>
 <span class="secondaryInfo">(1984)</span>
 </td>,
 <td class="titleColumn">
       82.
       <a href="/title/tt0119217/" title="Gus Van Sant (dir.), Robin Williams, Matt Damon">Good Will Hunting</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       83.
       <a href="/title/tt5311514/" title="Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi">Kimi no na wa.</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       84.
       <a href="/title/tt0180093/" title="Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto">Requiem for a Dream</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       85.
       <a href="/title/tt0435761/" title="Lee Unkrich (dir.), Tom Hanks, Tim Allen">Toy Story 3</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       86.
       <a href="/title/tt0045152/" title="Stanley Donen (dir.), Gene Kelly, Donald O'Connor">Singin' in the Rain</a>
 <span class="secondaryInfo">(1952)</span>
 </td>,
 <td class="titleColumn">
       87.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       88.
       <a href="/title/tt0086190/" title="Richard Marquand (dir.), Mark Hamill, Harrison Ford">Star Wars: Episode VI - Return of the Jedi</a>
 <span class="secondaryInfo">(1983)</span>
 </td>,
 <td class="titleColumn">
       89.
       <a href="/title/tt0057565/" title="Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada">Tengoku to jigoku</a>
 <span class="secondaryInfo">(1963)</span>
 </td>,
 <td class="titleColumn">
       90.
       <a href="/title/tt0062622/" title="Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood">2001: A Space Odyssey</a>
 <span class="secondaryInfo">(1968)</span>
 </td>,
 <td class="titleColumn">
       91.
       <a href="/title/tt0338013/" title="Michel Gondry (dir.), Jim Carrey, Kate Winslet">Eternal Sunshine of the Spotless Mind</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       92.
       <a href="/title/tt0105236/" title="Quentin Tarantino (dir.), Harvey Keitel, Tim Roth">Reservoir Dogs</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       93.
       <a href="/title/tt8267604/" title="Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw">Capharnaüm</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       94.
       <a href="/title/tt0056172/" title="David Lean (dir.), Peter O'Toole, Alec Guinness">Lawrence of Arabia</a>
 <span class="secondaryInfo">(1962)</span>
 </td>,
 <td class="titleColumn">
       95.
       <a href="/title/tt0033467/" title="Orson Welles (dir.), Orson Welles, Joseph Cotten">Citizen Kane</a>
 <span class="secondaryInfo">(1941)</span>
 </td>,
 <td class="titleColumn">
       96.
       <a href="/title/tt2106476/" title="Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen">Jagten</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       97.
       <a href="/title/tt0022100/" title="Fritz Lang (dir.), Peter Lorre, Ellen Widmann">M - Eine Stadt sucht einen Mörder</a>
 <span class="secondaryInfo">(1931)</span>
 </td>,
 <td class="titleColumn">
       98.

In [15]:
movies=[]
for movie in top_movies:
    movie=movie.get_text().replace('\n','').split('(')[0]
    movie=movie.strip(" ")
    movies.append(movie)
movies

['1.      The Shawshank Redemption',
 '2.      The Godfather',
 '3.      The Dark Knight',
 '4.      The Godfather Part II',
 '5.      12 Angry Men',
 "6.      Schindler's List",
 '7.      The Lord of the Rings: The Return of the King',
 '8.      Pulp Fiction',
 '9.      The Lord of the Rings: The Fellowship of the Ring',
 '10.      Il buono, il brutto, il cattivo',
 '11.      Forrest Gump',
 '12.      Fight Club',
 '13.      Inception',
 '14.      The Lord of the Rings: The Two Towers',
 '15.      The Empire Strikes Back',
 '16.      The Matrix',
 '17.      Goodfellas',
 "18.      One Flew Over the Cuckoo's Nest",
 '19.      Se7en',
 '20.      Shichinin no samurai',
 "21.      It's a Wonderful Life",
 '22.      The Silence of the Lambs',
 '23.      Cidade de Deus',
 '24.      Saving Private Ryan',
 '25.      La vita è bella',
 '26.      The Green Mile',
 '27.      Interstellar',
 '28.      Star Wars',
 '29.      Terminator 2: Judgment Day',
 '30.      Back to the Future',
 '31.      Sen to Chihiro no kamikakushi',
 '32.      Psycho',
 '33.      The Pianist',
 '34.      Léon',
 '35.      Gisaengchung',
 '36.      The Lion King',
 '37.      Gladiator',
 '38.      American History X',
 '39.      The Departed',
 '40.      The Usual Suspects',
 '41.      The Prestige',
 '42.      Casablanca',
 '43.      Whiplash',
 '44.      The Intouchables',
 '45.      Hotaru no haka',
 '46.      Seppuku',
 '47.      Modern Times',
 '48.      Once Upon a Time in the West',
 '49.      Rear Window',
 '50.      Alien',
 '51.      City Lights',
 '52.      Nuovo Cinema Paradiso',
 '53.      Apocalypse Now',
 '54.      Memento',
 '55.      Raiders of the Lost Ark',
 '56.      Django Unchained',
 '57.      WALL·E',
 '58.      The Lives of Others',
 '59.      Sunset Blvd.',
 '60.      Paths of Glory',
 '61.      The Shining',
 '62.      Top Gun: Maverick',
 '63.      The Great Dictator',
 '64.      Witness for the Prosecution',
 '65.      Avengers: Infinity War',
 '66.      Aliens',
 '67.      American Beauty',
 '68.      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '69.      Spider-Man: Into the Spider-Verse',
 '70.      The Dark Knight Rises',
 '71.      Oldeuboi',
 '72.      Joker',
 '73.      Amadeus',
 '74.      Braveheart',
 '75.      Toy Story',
 '76.      Coco',
 '77.      Inglourious Basterds',
 '78.      Das Boot',
 '79.      Mononoke-hime',
 '80.      Avengers: Endgame',
 '81.      Once Upon a Time in America',
 '82.      Good Will Hunting',
 '83.      Kimi no na wa.',
 '84.      Requiem for a Dream',
 '85.      Toy Story 3',
 "86.      Singin' in the Rain",
 '87.      3 Idiots',
 '88.      Star Wars: Episode VI - Return of the Jedi',
 '89.      Tengoku to jigoku',
 '90.      2001: A Space Odyssey',
 '91.      Eternal Sunshine of the Spotless Mind',
 '92.      Reservoir Dogs',
 '93.      Capharnaüm',
 '94.      Lawrence of Arabia',
 '95.      Citizen Kane',
 '96.      Jagten',
 '97.      M - Eine Stadt sucht einen Mörder',
 '98.      North by Northwest',
 '99.      Idi i smotri',
 '100.      Vertigo',
 "101.      Le fabuleux destin d'Amélie Poulain",
 '102.      A Clockwork Orange',
 '103.      Double Indemnity',
 '104.      Full Metal Jacket',
 '105.      The Apartment',
 '106.      Scarface',
 '107.      Ikiru',
 '108.      The Sting',
 '109.      To Kill a Mockingbird',
 '110.      Taxi Driver',
 '111.      Heat',
 '112.      Up',
 '113.      L.A. Confidential',
 '114.      Incendies',
 '115.      Metropolis',
 '116.      Jodaeiye Nader az Simin',
 '117.      Die Hard',
 '118.      Hamilton',
 '119.      Snatch',
 '120.      Indiana Jones and the Last Crusade',
 '121.      Ladri di biciclette',
 '122.      1917',
 '123.      Taare Zameen Par',
 '124.      Der Untergang',
 '125.      Per qualche dollaro in più',
 '126.      Batman Begins',
 '127.      Dangal',
 '128.      The Kid',
 '129.      Some Like It Hot',
 '130.      All About Eve',
 '131.      The Father',
 '132.      Green Book',
 '133.      The Wolf of Wall Street',
 '134.      Spider-Man: No Way Home',
 '135.      Judgment at Nuremberg',
 '136.      Ran',
 '137.      Casino',
 '138.      Unforgiven',
 "139.      Pan's Labyrinth",
 '140.      There Will Be Blood',
 '141.      The Truman Show',
 '142.      The Sixth Sense',
 '143.      A Beautiful Mind',
 '144.      Monty Python and the Holy Grail',
 '145.      Yôjinbô',
 '146.      The Treasure of the Sierra Madre',
 '147.      Shutter Island',
 '148.      Jurassic Park',
 '149.      The Great Escape',
 '150.      Rashômon',
 '151.      Kill Bill: Vol. 1',
 '152.      No Country for Old Men',
 '153.      Finding Nemo',
 '154.      The Elephant Man',
 '155.      Chinatown',
 '156.      Raging Bull',
 '157.      The Thing',
 '158.      Gone with the Wind',
 '159.      V for Vendetta',
 '160.      Inside Out',
 '161.      Lock, Stock and Two Smoking Barrels',
 '162.      Dial M for Murder',
 '163.      El secreto de sus ojos',
 '164.      Hauru no ugoku shiro',
 '165.      The Bridge on the River Kwai',
 '166.      Three Billboards Outside Ebbing, Missouri',
 '167.      Trainspotting',
 '168.      Warrior',
 '169.      Gran Torino',
 '170.      Fargo',
 '171.      Prisoners',
 '172.      Tonari no Totoro',
 '173.      Million Dollar Baby',
 '174.      Catch Me If You Can',
 '175.      The Gold Rush',
 '176.      Blade Runner',
 '177.      On the Waterfront',
 '178.      Bacheha-Ye aseman',
 '179.      The Third Man',
 '180.      Before Sunrise',
 '181.      Ben-Hur',
 '182.      12 Years a Slave',
 '183.      Smultronstället',
 '184.      Harry Potter and the Deathly Hallows: Part 2',
 '185.      Gone Girl',
 '186.      The General',
 '187.      Everything Everywhere All at Once',
 '188.      The Deer Hunter',
 '189.      In the Name of the Father',
 '190.      The Grand Budapest Hotel',
 '191.      Barry Lyndon',
 '192.      Mr. Smith Goes to Washington',
 '193.      Le salaire de la peur',
 '194.      Sherlock Jr.',
 '195.      Hacksaw Ridge',
 '196.      Salinui chueok',
 '197.      Klaus',
 '198.      Relatos salvajes',
 '199.      Det sjunde inseglet',
 '200.      Room',
 '201.      Mad Max: Fury Road',
 '202.      How to Train Your Dragon',
 '203.      The Big Lebowski',
 '204.      Mary and Max.',
 '205.      Monsters, Inc.',
 '206.      Jaws',
 '207.      Tôkyô monogatari',
 '208.      Dead Poets Society',
 "209.      La passion de Jeanne d'Arc",
 '210.      Hotel Rwanda',
 '211.      Rocky',
 '212.      Ford v Ferrari',
 '213.      Platoon',
 '214.      Pather Panchali',
 '215.      Stand by Me',
 '216.      The Terminator',
 '217.      Spotlight',
 '218.      Rush',
 '219.      Logan',
 '220.      Network',
 '221.      Ratatouille',
 '222.      Into the Wild',
 '223.      The Wizard of Oz',
 '224.      Groundhog Day',
 '225.      Before Sunset',
 '226.      The Exorcist',
 '227.      The Best Years of Our Lives',
 '228.      The Incredibles',
 '229.      To Be or Not to Be',
 '230.      The Grapes of Wrath',
 '231.      La battaglia di Algeri',
 '232.      Rebecca',
 "233.      Hachi: A Dog's Tale",
 '234.      Cool Hand Luke',
 '235.      Amores perros',
 '236.      Pirates of the Caribbean: The Curse of the Black Pearl',
 '237.      La haine',
 '238.      Babam ve Oglum',
 '239.      Les quatre cents coups',
 '240.      Jai Bhim',
 '241.      It Happened One Night',
 '242.      Persona',
 '243.      The Sound of Music',
 '244.      Life of Brian',
 '245.      Ah-ga-ssi',
 '246.      Dersu Uzala',
 '247.      Aladdin',
 '248.      Gandhi',
 '249.      The Help',
 '250.      The Iron Giant']

In [16]:
movies_ratings=soup.find_all('td', class_='ratingColumn imdbRating')
movies_ratings

[<td class="ratingColumn imdbRating">
 <strong title="9.2 based on 2,635,261 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.2 based on 1,826,428 user ratings">9.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 2,606,467 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="9.0 based on 1,252,655 user ratings">9.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 778,149 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,336,726 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.9 based on 1,808,857 user ratings">8.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 2,016,959 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 1,831,294 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 753,031 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.8 based on 2,039,911 user ratings">8.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,079,009 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 2,311,008 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,633,491 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,274,233 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,886,166 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.7 based on 1,141,827 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 996,349 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,620,490 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 343,213 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 450,812 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,408,574 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 749,616 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,370,161 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 686,177 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,279,818 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,777,488 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.6 based on 1,346,920 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,084,474 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,183,304 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 748,582 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 663,248 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 818,994 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,144,454 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 772,641 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,042,544 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,477,414 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,109,963 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,306,983 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,073,330 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 1,313,913 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 566,389 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 835,328 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 845,093 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 273,006 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 55,959 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 240,565 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 327,078 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 486,901 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 869,158 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 183,693 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 258,514 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 660,396 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,223,395 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 955,727 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,524,805 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,101,473 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 387,093 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 220,533 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 196,090 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,003,387 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 334,387 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 222,659 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 124,438 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 1,051,223 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 709,684 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,143,268 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 486,677 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 511,862 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,680,150 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 571,222 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,236,269 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 398,166 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,028,147 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 981,219 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 493,261 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,422,257 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 249,799 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 389,547 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,095,987 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 348,841 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 953,120 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 260,766 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 832,327 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 827,174 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 240,665 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 394,847 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,040,485 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 44,413 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 661,170 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 994,775 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 1,004,846 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 87,801 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 291,681 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 439,109 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 325,597 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 157,112 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 325,637 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 77,890 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 399,149 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 750,815 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 820,552 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 156,494 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 734,628 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 180,510 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 826,973 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 77,971 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 260,383 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 314,860 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 816,504 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 646,921 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,030,680 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 578,625 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 175,690 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 173,431 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 243,989 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 867,322 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 91,800 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 847,240 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 747,457 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 162,692 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 570,641 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 191,920 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 353,772 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 255,051 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,449,883 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 188,476 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 125,993 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 265,521 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 130,981 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 145,857 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 478,457 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,375,371 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 715,805 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 77,408 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 124,997 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 514,038 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 409,199 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 663,260 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 579,690 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 1,059,721 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 981,556 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 922,994 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 537,605 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 122,472 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 124,576 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,285,795 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 975,764 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 243,415 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 167,627 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,100,732 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 957,799 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,032,143 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 239,705 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 324,331 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 351,167 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 418,026 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 313,810 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 1,110,858 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 702,176 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 577,593 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 174,880 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 208,665 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 388,790 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 219,706 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 498,817 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 681,474 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 469,122 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 769,988 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 672,155 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 696,673 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 334,437 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 682,705 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 962,165 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 110,969 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 760,603 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 154,552 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 74,552 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 171,105 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 304,638 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 238,290 user ratings">8.1</strong>

In [17]:
ratings=[]
for rating in movies_ratings:
    rating=rating.get_text().replace('\n','')
    ratings.append(rating)
ratings

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [18]:
data=pd.DataFrame()
data['Movies Name & year of release']= movies
data['Ratings']= ratings
data.head(100)

                 Movies Name & year of release Ratings
0             1.      The Shawshank Redemption     9.2
1                        2.      The Godfather     9.2
2                      3.      The Dark Knight     9.0
3                4.      The Godfather Part II     9.0
4                         5.      12 Angry Men     8.9
..                                         ...     ...
95                             96.      Jagten     8.3
96  97.      M - Eine Stadt sucht einen Mörder     8.3
97                 98.      North by Northwest     8.3
98                       99.      Idi i smotri     8.2
99                           100.      Vertigo     8.2

[100 rows x 2 columns]

q3.-IMDB’s_Top_rated_100_Indian_movies’

In [19]:
url="https://www.imdb.com/india/top-rated-indian-movies/"

In [20]:
page=requests.get(url)
page

In [21]:
soup=BeautifulSoup(page.content, "html.parser")

In [22]:
top_ind_movies=soup.find_all('td', class_='titleColumn') 
top_ind_movies

[<td class="titleColumn">
       1.
       <a href="/title/tt9263550/" title="Madhavan (dir.), Madhavan, Simran">Rocketry: The Nambi Effect</a>
 <span class="secondaryInfo">(2022)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0367495/" title="Sundar C. (dir.), Kamal Haasan, Madhavan">Anbe Sivam</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt0079221/" title="Hrishikesh Mukherjee (dir.), Amol Palekar, Bindiya Goswami">Golmaal</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       4.
       <a href="/title/tt0093603/" title="Mani Ratnam (dir.), Kamal Haasan, Saranya Ponvannan">Nayakan</a>
 <span class="secondaryInfo">(1987)</span>
 </td>,
 <td class="titleColumn">
       5.
       <a href="/title/tt15097216/" title="T.J. Gnanavel (dir.), Suriya, Lijo Mol Jose">Jai Bhim</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       6.
       <a href="/title/tt8176054/" title="Mari Selvaraj (dir.), Kathir, Anandhi">Pariyerum Perumal</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       7.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       8.
       <a href="/title/tt0052572/" title="Satyajit Ray (dir.), Soumitra Chatterjee, Sharmila Tagore">Apur Sansar</a>
 <span class="secondaryInfo">(1959)</span>
 </td>,
 <td class="titleColumn">
       9.
       <a href="/title/tt0214915/" title="Fazil (dir.), Shobana, Mohanlal">Manichitrathazhu</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       10.
       <a href="/title/tt7466810/" title="Kiranraj K (dir.), Rakshit Shetty, Charlie">777 Charlie</a>
 <span class="secondaryInfo">(2022)</span>
 </td>,
 <td class="titleColumn">
       11.
       <a href="/title/tt8413338/" title="Madhu C. Narayanan (dir.), Shane Nigam, Soubin Shahir">Kumbalangi Nights</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       12.
       <a href="/title/tt0400234/" title="Anurag Kashyap (dir.), Kay Kay Menon, Pawan Malhotra">Black Friday</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       13.
       <a href="/title/tt7391996/" title="Venkatesh Maha (dir.), Radha Bessy, Subba Rao Vepada">C/o Kancharapalem</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       14.
       <a href="/title/tt10189514/" title="Sudha Kongara (dir.), Suriya, Paresh Rawal">Soorarai Pottru</a>
 <span class="secondaryInfo">(2020)</span>
 </td>,
 <td class="titleColumn">
       15.
       <a href="/title/tt10534500/" title="Rojin Thomas (dir.), Indrans, Sreenath Bhasi">#Home</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       16.
       <a href="/title/tt0986264/" title="Aamir Khan (dir.), Darsheel Safary, Aamir Khan">Taare Zameen Par</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       17.
       <a href="/title/tt0237376/" title="Sibi Malayil (dir.), Mohanlal, Thilakan">Kireedam</a>
 <span class="secondaryInfo">(1989)</span>
 </td>,
 <td class="titleColumn">
       18.
       <a href="/title/tt5074352/" title="Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar">Dangal</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       19.
       <a href="/title/tt9900782/" title="Lokesh Kanagaraj (dir.), Karthi, Narain">Kaithi</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       20.
       <a href="/title/tt8948790/" title="Gowtam Tinnanuri (dir.), Nani, Shraddha Srinath">Jersey</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       21.
       <a href="/title/tt7019842/" title="C. Prem Kumar (dir.), Vijay Sethupathi, Adithya Bhaskar">96</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       22.
       <a href="/title/tt9477520/" title="Vetrimaaran (dir.), Dhanush, Manju Warrier">Asuran</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       23.
       <a href="/title/tt0105575/" title="Bharathan (dir.), Kamal Haasan, Shivaji Ganesan">Thevar Magan</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       24.
       <a href="/title/tt4991384/" title="Vetrimaaran (dir.), Dinesh, Samuthirakani">Visaaranai</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       25.
       <a href="/title/tt11580854/" title="Pa. Ranjith (dir.), Arya, Pasupathy">Sarpatta Parambarai</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       26.
       <a href="/title/tt5311546/" title="Mahesh Manjrekar (dir.), Nana Patekar, Medha Manjrekar">Natsamrat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       27.
       <a href="/title/tt0101649/" title="Mani Ratnam (dir.), Rajinikanth, Mammootty">Thalapathi</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       28.
       <a href="/title/tt0048473/" title="Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee">Pather Panchali</a>
 <span class="secondaryInfo">(1955)</span>
 </td>,
 <td class="titleColumn">
       29.
       <a href="/title/tt12361178/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam 2</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       30.
       <a href="/title/tt0282778/" title="Sathyan Anthikad (dir.), Mohanlal, Sreenivasan">Nadodikkattu</a>
 <span class="secondaryInfo">(1987)</span>
 </td>,
 <td class="titleColumn">
       31.
       <a href="/title/tt4987556/" title="Mohan Raja (dir.), Jayam Ravi, Arvind Swamy">Thani Oruvan</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       32.
       <a href="/title/tt10280296/" title="Shoojit Sircar (dir.), Vicky Kaushal, Shaun Scott">Sardar Udham</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       33.
       <a href="/title/tt5959980/" title="Vetrimaaran (dir.), Dhanush, Ameer Sultan">Vada Chennai</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       34.
       <a href="/title/tt0048956/" title="Satyajit Ray (dir.), Pinaki Sengupta, Smaran Ghosal">Aparajito</a>
 <span class="secondaryInfo">(1956)</span>
 </td>,
 <td class="titleColumn">
       35.
       <a href="/title/tt0085743/" title="Kundan Shah (dir.), Naseeruddin Shah, Ravi Baswani">Jaane Bhi Do Yaaro</a>
 <span class="secondaryInfo">(1983)</span>
 </td>,
 <td class="titleColumn">
       36.
       <a href="/title/tt0466460/" title="Dibakar Banerjee (dir.), Anupam Kher, Boman Irani">Khosla Ka Ghosla!</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       37.
       <a href="/title/tt3417422/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       38.
       <a href="/title/tt7738784/" title="Ram (dir.), Mammootty, Sadhana">Peranbu</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       39.
       <a href="/title/tt0376127/" title="S. Shankar (dir.), Vikram, Sada">Anniyan</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       40.
       <a href="/title/tt0072783/" title="Hrishikesh Mukherjee (dir.), Dharmendra, Sharmila Tagore">Chupke Chupke</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       41.
       <a href="/title/tt7465992/" title="Nag Ashwin (dir.), Keerthy Suresh, Dulquer Salmaan">Mahanati</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       42.
       <a href="/title/tt10214826/" title="Swaroop Rsj (dir.), Naveen Polishetty, Shruti Sharma">Agent Sai Srinivasa Athreya</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       43.
       <a href="/title/tt7060344/" title="Ram Kumar (dir.), Vishnu Vishal, Amala Paul">Ratsasan</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       44.
       <a href="/title/tt3668162/" title="Anjali Menon (dir.), Dulquer Salmaan, Nivin Pauly">Bangalore Days</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       45.
       <a href="/title/tt0195231/" title="Ram Gopal Varma (dir.), J.D. Chakravarthi, Manoj Bajpayee">Satya</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       46.
       <a href="/title/tt4679210/" title="Alphonse Puthren (dir.), Nivin Pauly, Sai Pallavi">Premam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       47.
       <a href="/title/tt7019942/" title="Thiagarajan Kumararaja (dir.), Vijay Sethupathi, Fahadh Faasil">Super Deluxe</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       48.
       <a href="/title/tt9179430/" title="Lokesh Kanagaraj (dir.), Kamal Haasan, Vijay Sethupathi">Vikram</a>
 <span class="secondaryInfo">(2022)</span>
 </td>,
 <td class="titleColumn">
       49.
       <a href="/title/tt0291855/" title="I.V. Sasi (dir.), Mohanlal, Revathi">Devasuram</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       50.
       <a href="/title/tt1954470/" title="Anurag Kashyap (dir.), Manoj Bajpayee, Richa Chadha">Gangs of Wasseypur</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       51.
       <a href="/title/tt2356180/" title="Rakeysh Omprakash Mehra (dir.), Farhan Akhtar, Japtej Singh">Bhaag Milkha Bhaag</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       52.
       <a href="/title/tt4430212/" title="Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran">Drishyam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       53.
       <a href="/title/tt5867800/" title="Arun Prabhu Purushothaman (dir.), Aditi Balan, Padmashri Mohammad Ali">Aruvi</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       54.
       <a href="/title/tt8108198/" title="Sriram Raghavan (dir.), Ayushmann Khurrana, Tabu">Andhadhun</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       55.
       <a href="/title/tt0214585/" title="Priyadarshan (dir.), Mohanlal, Nedumudi Venu">Chithram</a>
 <span class="secondaryInfo">(1988)</span>
 </td>,
 <td class="titleColumn">
       56.
       <a href="/title/tt0312859/" title="Mani Ratnam (dir.), Keerthana Parthiepan, Simran">Kannathil Muthamittal</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       57.
       <a href="/title/tt0059246/" title="Vijay Anand (dir.), Dev Anand, Waheeda Rehman">Guide</a>
 <span class="secondaryInfo">(1965)</span>
 </td>,
 <td class="titleColumn">
       58.
       <a href="/title/tt6148156/" title="Gayatri (dir.), Madhavan, Vijay Sethupathi">Vikram Vedha</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       59.
       <a href="/title/tt0119385/" title="Mani Ratnam (dir.), Mohanlal, Aishwarya Rai Bachchan">Iruvar</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       60.
       <a href="/title/tt5312232/" title="Nagraj Manjule (dir.), Rinku Rajguru, Akash Thosar">Sairat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       61.
       <a href="/title/tt2181831/" title="Hansal Mehta (dir.), Rajkummar Rao, Prabhleen Sandhu">Shahid</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       62.
       <a href="/title/tt8239946/" title="Rahi Anil Barve (dir.), Sohum Shah, Jyoti Malshe">Tumbbad</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       63.
       <a href="/title/tt1562872/" title="Zoya Akhtar (dir.), Hrithik Roshan, Farhan Akhtar">Zindagi Na Milegi Dobara</a>
 <span class="secondaryInfo">(2011)</span>
 </td>,
 <td class="titleColumn">
       64.
       <a href="/title/tt1620933/" title="Tigmanshu Dhulia (dir.), Irrfan Khan, Mahie Gill">Paan Singh Tomar</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       65.
       <a href="/title/tt0220656/" title="S. Shankar (dir.), Arjun Sarja, Manisha Koirala">Mudhalvan</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       66.
       <a href="/title/tt9052870/" title="Nitesh Tiwari (dir.), Sushant Singh Rajput, Shraddha Kapoor">Chhichhore</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       67.
       <a href="/title/tt0292246/" title="Bhadran (dir.), Chippy, K.P.A.C. Lalitha">Spadikam</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       68.
       <a href="/title/tt6380520/" title="Karthick Naren (dir.), Rahman, Prakash Raghavan">Dhuruvangal Pathinaaru</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       69.
       <a href="/title/tt0367110/" title="Ashutosh Gowariker (dir.), Shah Rukh Khan, Gayatri Joshi">Swades: We, the People</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       70.
       <a href="/title/tt0871510/" title="Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade">Chak De! India</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       71.
       <a href="/title/tt0459516/" title="K. Selvaraghavan (dir.), Dhanush, Sneha">Pudhu Pettai</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       72.
       <a href="/title/tt0375611/" title="Sanjay Leela Bhansali (dir.), Amitabh Bachchan, Rani Mukerji">Black</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       73.
       <a href="/title/tt0104561/" title="Mansoor Khan (dir.), Aamir Khan, Ayesha Jhulka">Jo Jeeta Wohi Sikandar</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       74.
       <a href="/title/tt4429128/" title="Jeethu Joseph (dir.), Kamal Haasan, Gautami">Papanasam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       75.
       <a href="/title/tt10687070/" title="Madonne Ashwin (dir.), Yogi Babu, Sheela Rajkumar">Mandela</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       76.
       <a href="/title/tt0050870/" title="Guru Dutt (dir.), Guru Dutt, Waheeda Rehman">Pyaasa</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       77.
       <a href="/title/tt8291224/" title="Aditya Dhar (dir.), Vicky Kaushal, Paresh Rawal">Uri: The Surgical Strike</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       78.
       <a href="/title/tt0374887/" title="Rajkumar Hirani (dir.), Sanjay Dutt, Arshad Warsi">Munna Bhai M.B.B.S.</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       79.
       <a href="/title/tt10324144/" title="Anubhav Sinha (dir.), Ayushmann Khurrana, Nassar">Article 15</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       80.
       <a href="/title/tt2877108/" title="Nalan Kumarasamy (dir.), Vijay Sethupathi, Sanchita Shetty">Soodhu Kavvum</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       81.
       <a href="/title/tt3322420/" title="Vikas Bahl (dir.), Kangana Ranaut, Rajkummar Rao">Queen</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       82.
       <a href="/title/tt3973410/" title="M. Manikandan (dir.), Ramesh Thilaganathan, J. Vignesh">Kaakkaa Muttai</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       83.
       <a href="/title/tt4934950/" title="Meghna Gulzar (dir.), Irrfan Khan, Konkona Sen Sharma">Talvar</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       84.
       <a href="/title/tt0169102/" title="Ashutosh Gowariker (dir.), Aamir Khan, Raghuvir Yadav">Lagaan: Once Upon a Time in India</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       85.
       <a href="/title/tt2338151/" title="Rajkumar Hirani (dir.), Aamir Khan, Anushka Sharma">PK</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       86.
       <a href="/title/tt2283748/" title="Umesh Shukla (dir.), Paresh Rawal, Akshay Kumar">OMG: Oh My God!</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       87.
       <a href="/title/tt3569782/" title="Karthik Subbaraj (dir.), Siddharth, Bobby Simha">Jigarthanda</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       88.
       <a href="/title/tt0200087/" title="John Mathew Matthan (dir.), Aamir Khan, Naseeruddin Shah">Sarfarosh</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       89.
       <a href="/title/tt0242519/" title="Priyadarshan (dir.), Akshay Kumar, Suniel Shetty">Hera Pheri</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       90.
       <a href="/title/tt7060460/" title="H. Vinoth (dir.), Karthi, Rakul Preet Singh">Theeran Adhigaaram Ondru</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       91.
       <a href="/title/tt1639426/" title="Vikramaditya Motwane (dir.), Rajat Barmecha, Ronit Roy">Udaan</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       92.
       <a href="/title/tt2082197/" title="Anurag Basu (dir.), Ranbir Kapoor, Priyanka Chopra Jonas">Barfi!</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       93.
       <a href="/title/tt0073707/" title="Ramesh Sippy (dir.), Sanjeev Kumar, Dharmendra">Sholay</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       94.
       <a href="/title/tt2218988/" title="Anwar Rasheed (dir.), Dulquer Salmaan, Thilakan">Ustad Hotel</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       95.
       <a href="/title/tt0319736/" title="Rajkumar Santoshi (dir.), Ajay Devgn, Sushant Singh">The Legend of Bhagat Singh</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       96.
       <a href="/title/tt0215517/" title="Gulzar (dir.), Sanjeev Kumar, Moushumi Chatterjee">Angoor</a>
 <span class="secondaryInfo">(1982)</span>
 </td>,
 <td class="titleColumn">
       97.
       <a href="/title/tt4849438/" title="S.S. Rajamouli (dir.), Prabhas, Rana Daggubati">Baahubali 2: The Conclusion</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       98.
       <a href="/title/tt0364647/" title="Kamal Haasan (dir.), Kamal Haasan, Abhirami">Virumandi</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       99.
       <a href="/title/tt0405508/" title="Rakeysh Omprakash Mehra (dir.), Aamir Khan, Soha Ali Khan">Rang De Basanti</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       100.
       <a href="/title/tt0139876/" title="Suresh Krishna (dir.), Rajinikanth, Nagma">Baasha</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       101.
       <a href="/title/tt4851630/" title="Dileesh Pothan (dir.), Fahadh Faasil, Aparna Balamurali">Maheshinte Prathikaaram</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       102.
       <a href="/title/tt4635372/" title="Neeraj Ghaywan (dir.), Richa Chadha, Sanjay Mishra">Masaan</a>

In [24]:
movies=[]
for movie in top_ind_movies:
    movie=movie.get_text().replace('\n',"").split('(')[0]
    movie=movie.strip(" ")
    movies.append(movie)
movies

['1.      Rocketry: The Nambi Effect',
 '2.      Anbe Sivam',
 '3.      Golmaal',
 '4.      Nayakan',
 '5.      Jai Bhim',
 '6.      Pariyerum Perumal',
 '7.      3 Idiots',
 '8.      Apur Sansar',
 '9.      Manichitrathazhu',
 '10.      777 Charlie',
 '11.      Kumbalangi Nights',
 '12.      Black Friday',
 '13.      C/o Kancharapalem',
 '14.      Soorarai Pottru',
 '15.      #Home',
 '16.      Taare Zameen Par',
 '17.      Kireedam',
 '18.      Dangal',
 '19.      Kaithi',
 '20.      Jersey',
 '21.      96',
 '22.      Asuran',
 '23.      Thevar Magan',
 '24.      Visaaranai',
 '25.      Sarpatta Parambarai',
 '26.      Natsamrat',
 '27.      Thalapathi',
 '28.      Pather Panchali',
 '29.      Drishyam 2',
 '30.      Nadodikkattu',
 '31.      Thani Oruvan',
 '32.      Sardar Udham',
 '33.      Vada Chennai',
 '34.      Aparajito',
 '35.      Jaane Bhi Do Yaaro',
 '36.      Khosla Ka Ghosla!',
 '37.      Drishyam',
 '38.      Peranbu',
 '39.      Anniyan',
 '40.      Chupke Chupke',
 '41.      Mahanati',
 '42.      Agent Sai Srinivasa Athreya',
 '43.      Ratsasan',
 '44.      Bangalore Days',
 '45.      Satya',
 '46.      Premam',
 '47.      Super Deluxe',
 '48.      Vikram',
 '49.      Devasuram',
 '50.      Gangs of Wasseypur',
 '51.      Bhaag Milkha Bhaag',
 '52.      Drishyam',
 '53.      Aruvi',
 '54.      Andhadhun',
 '55.      Chithram',
 '56.      Kannathil Muthamittal',
 '57.      Guide',
 '58.      Vikram Vedha',
 '59.      Iruvar',
 '60.      Sairat',
 '61.      Shahid',
 '62.      Tumbbad',
 '63.      Zindagi Na Milegi Dobara',
 '64.      Paan Singh Tomar',
 '65.      Mudhalvan',
 '66.      Chhichhore',
 '67.      Spadikam',
 '68.      Dhuruvangal Pathinaaru',
 '69.      Swades: We, the People',
 '70.      Chak De! India',
 '71.      Pudhu Pettai',
 '72.      Black',
 '73.      Jo Jeeta Wohi Sikandar',
 '74.      Papanasam',
 '75.      Mandela',
 '76.      Pyaasa',
 '77.      Uri: The Surgical Strike',
 '78.      Munna Bhai M.B.B.S.',
 '79.      Article 15',
 '80.      Soodhu Kavvum',
 '81.      Queen',
 '82.      Kaakkaa Muttai',
 '83.      Talvar',
 '84.      Lagaan: Once Upon a Time in India',
 '85.      PK',
 '86.      OMG: Oh My God!',
 '87.      Jigarthanda',
 '88.      Sarfarosh',
 '89.      Hera Pheri',
 '90.      Theeran Adhigaaram Ondru',
 '91.      Udaan',
 '92.      Barfi!',
 '93.      Sholay',
 '94.      Ustad Hotel',
 '95.      The Legend of Bhagat Singh',
 '96.      Angoor',
 '97.      Baahubali 2: The Conclusion',
 '98.      Virumandi',
 '99.      Rang De Basanti',
 '100.      Baasha',
 '101.      Maheshinte Prathikaaram',
 '102.      Masaan',
 '103.      Kahaani',
 '104.      Dil Chahta Hai',
 '105.      A Wednesday',
 '106.      Kaun Pravin Tambe?',
 '107.      Jana Gana Mana',
 '108.      Roja',
 '109.      Iqbal',
 '110.      Pithamagan',
 '111.      Shershaah',
 '112.      Nil Battey Sannata',
 '113.      Pink',
 '114.      Lage Raho Munna Bhai',
 '115.      Charulata',
 '116.      Anand',
 '117.      Alai Payuthey',
 '118.      Section 375',
 '119.      Lucia',
 '120.      Omkara',
 '121.      Bajrangi Bhaijaan',
 '122.      Oru Vadakkan Veeragatha',
 '123.      Bombay',
 '124.      Bommarillu',
 '125.      K.G.F: Chapter 1',
 '126.      Indian',
 '127.      K.G.F: Chapter 2',
 '128.      The Great Indian Kitchen',
 '129.      Rangasthalam',
 '130.      Haider',
 '131.      Mughal-E-Azam',
 '132.      Dilwale Dulhania Le Jayenge',
 '133.      Maanaadu',
 '134.      Athadu',
 '135.      Special Chabbis',
 '136.      Thadam',
 '137.      Maqbool',
 '138.      Andaz Apna Apna',
 '139.      Padayappa',
 '140.      Vaaranam Aayiram',
 '141.      Android Kunjappan Version 5.25',
 '142.      Pelli Choopulu',
 '143.      Gulaal',
 '144.      Ulidavaru Kandanthe',
 '145.      Naduvula Konjam Pakkatha Kaanom',
 '146.      Vaastav: The Reality',
 '147.      Deewaar',
 '148.      Ugly',
 '149.      Badhaai ho',
 '150.      Evaru',
 '151.      Kshanam',
 '152.      Gully Boy',
 '153.      Company',
 '154.      Aadukalam',
 '155.      Padosan',
 '156.      Major',
 '157.      Maanagaram',
 '158.      Sita Ramam',
 '159.      Nayattu',
 '160.      Thondimuthalum Dhriksakshiyum',
 '161.      Dev.D',
 '162.      My Name Is Khan',
 '163.      Pranchiyettan and the Saint',
 '164.      Take Off',
 '165.      Baishe Srabon',
 '166.      Kal Ho Naa Ho',
 '167.      Ayyappanum Koshiyum',
 '168.      Jab We Met',
 '169.      Manjhi: The Mountain Man',
 '170.      Dil Bechara',
 '171.      Super 30',
 '172.      Arjun Reddy',
 '173.      Mukkabaaz',
 '174.      Deiva Thirumagal',
 '175.      Border',
 '176.      Karnan',
 '177.      Ship of Theseus',
 '178.      Charlie',
 '179.      Vedam',
 '180.      Salaam Bombay!',
 '181.      Bãhubali: The Beginning',
 '182.      Padman',
 '183.      Jalsaghar',
 '184.      Ankhon Dekhi',
 '185.      Baby',
 '186.      RRR',
 '187.      Vinnaithaandi Varuvaayaa',
 '188.      Malik',
 '189.      M.S. Dhoni: The Untold Story',
 '190.      Kirik Party',
 '191.      Pizza',
 '192.      Hindi Medium',
 '193.      Memories',
 '194.      English Vinglish',
 '195.      Lakshya',
 '196.      The Tashkent Files',
 '197.      Hey Ram',
 '198.      Dor',
 '199.      Airlift',
 '200.      Johnny Gaddaar',
 '201.      Karthikeya 2',
 '202.      Joseph',
 '203.      Hridayam',
 '204.      Kaakha..Kaakha: The Police',
 '205.      Gangaajal',
 '206.      Anjaam Pathiraa',
 '207.      Vettaiyaadu Vilaiyaadu',
 '208.      Mumbai Police',
 '209.      The Lunchbox',
 '210.      Ab Tak Chhappan',
 '211.      Okkadu',
 '212.      Pokiri',
 '213.      Unnaipol Oruvan',
 '214.      Thuppakki',
 '215.      Angamaly Diaries',
 '216.      Oopiri',
 '217.      Manam',
 '218.      Ghilli',
 '219.      Vicky Donor',
 '220.      Secret Superstar',
 '221.      RangiTaranga',
 '222.      Mother India',
 '223.      Veer-Zaara',
 '224.      Kaththi',
 '225.      Mimi',
 '226.      Stanley Ka Dabba',
 '227.      Dia',
 '228.      Oru CBI Diary Kurippu',
 '229.      Sonchiriya',
 '230.      Mr. India',
 '231.      Nayak: The Real Hero',
 '232.      Rock On!!',
 '233.      Udta Punjab',
 '234.      Thulladha Manamum Thullum',
 '235.      Happy Days',
 '236.      Badla',
 '237.      Minnal Murali',
 '238.      Raazi',
 '239.      Aayirathil Oruvan',
 '240.      Dasvidaniya',
 '241.      Poove Unakkaga',
 '242.      Kai po che!',
 '243.      Joji',
 '244.      Goodachari',
 '245.      Ko',
 '246.      Don',
 '247.      Ennu Ninte Moideen',
 '248.      Aligarh',
 '249.      Velaiilla Pattadhari',
 '250.      Colour Photo']

In [25]:
movies_ratings=soup.find_all('td', class_='ratingColumn imdbRating')
movies_ratings

[<td class="ratingColumn imdbRating">
 <strong title="8.5 based on 42,331 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 23,032 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 19,196 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 20,040 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 197,072 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 15,955 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 394,847 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 14,769 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 10,900 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 20,926 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 14,779 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 20,928 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 6,965 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 113,926 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,095 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 191,920 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,716 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 188,476 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 29,394 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 17,365 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 30,155 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 28,321 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,202 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,754 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 22,151 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,631 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,215 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 32,673 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 35,944 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,058 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 20,082 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 41,351 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 16,957 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,394 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,097 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 23,950 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 41,117 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,037 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 18,387 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,616 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,762 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,752 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 42,086 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 20,318 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,218 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 20,827 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 14,821 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 47,893 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,813 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 95,341 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 67,756 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 81,161 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,142 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 91,600 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,522 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,554 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,138 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 40,625 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,179 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,364 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 16,665 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 44,693 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 77,642 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 36,317 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,775 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 52,811 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,799 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,658 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 90,164 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 80,189 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,581 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 34,974 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 23,329 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,499 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,013 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,500 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 62,096 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 81,657 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,504 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 10,469 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 65,738 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 7,088 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 35,305 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 113,845 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 186,174 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 58,653 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,985 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 25,758 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 66,425 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,630 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 45,095 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 81,731 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 55,656 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,508 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 16,480 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,395 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 98,051 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,441 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 118,972 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,454 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,003 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 28,030 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 62,831 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 72,119 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 78,474 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,821 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,250 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,934 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 17,037 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,835 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 119,646 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 7,025 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 44,999 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 47,037 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,453 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 33,816 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,563 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 15,807 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,416 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 20,834 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 87,275 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,589 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,731 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,548 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 82,057 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,654 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 121,567 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 8,500 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 24,423 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 55,044 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 8,249 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 69,329 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 22,087 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,604 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 56,197 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,319 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 10,950 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 53,310 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,036 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,015 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,983 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,451 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 15,057 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 8,150 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,932 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,955 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 11,067 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 22,016 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 34,398 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,931 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,577 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 39,355 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 15,509 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,364 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,925 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 23,908 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,108 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,091 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,199 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,643 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 30,745 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 106,791 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,818 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 6,422 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,441 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 69,112 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,466 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 53,042 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 19,200 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 130,226 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 31,341 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 25,368 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 7,735 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,915 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 16,273 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,681 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 7,378 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 10,923 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,143 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 9,489 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 122,503 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 26,117 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 6,108 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">

In [26]:
ratings=[]
for rating in movies_ratings:
    rating=rating.get_text().replace('\n','')
    ratings.append(rating)
ratings

['8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6']

In [27]:
data=pd.DataFrame()
data['Movies Name & year of release']= movies
data['Ratings']= ratings
data.head(100)

           Movies Name & year of release Ratings
0     1.      Rocketry: The Nambi Effect     8.5
1                     2.      Anbe Sivam     8.4
2                        3.      Golmaal     8.4
3                        4.      Nayakan     8.4
4                       5.      Jai Bhim     8.4
..                                   ...     ...
95                       96.      Angoor     8.0
96  97.      Baahubali 2: The Conclusion     8.0
97                    98.      Virumandi     8.0
98              99.      Rang De Basanti     8.0
99                      100.      Baasha     8.0

[100 rows x 2 columns]

Q4. former presidents of India

In [28]:
url="https://presidentofindia.nic.in/former-presidents.htm"

In [29]:
page=requests.get(url)
page

In [30]:
soup=BeautifulSoup(page.content, "html.parser")

In [31]:
former_president=soup.find_all('h3')
former_president

[<h3>Shri Ram Nath Kovind (birth - 1945)</h3>,
 <h3>Shri Pranab Mukherjee (1935-2020)</h3>,
 <h3>Smt Pratibha Devisingh Patil (birth - 1934)</h3>,
 <h3>DR. A.P.J. Abdul Kalam (1931-2015)</h3>,
 <h3>Shri K. R. Narayanan (1920 - 2005)</h3>,
 <h3>Dr Shankar Dayal Sharma (1918-1999)</h3>,
 <h3>Shri R Venkataraman (1910-2009)</h3>,
 <h3>Giani Zail Singh (1916-1994)</h3>,
 <h3>Shri Neelam Sanjiva Reddy (1913-1996)</h3>,
 <h3>Dr. Fakhruddin Ali Ahmed (1905-1977)</h3>,
 <h3>Shri Varahagiri Venkata Giri (1894-1980)</h3>,
 <h3>Dr. Zakir Husain (1897-1969)</h3>,
 <h3>Dr. Sarvepalli Radhakrishnan (1888-1975)</h3>,
 <h3>Dr. Rajendra Prasad (1884-1963) </h3>]

In [32]:
presidents_name=[]
for president in former_president:
    president=president.get_text().split('(')[0]
    president=president.strip(" ")
    presidents_name.append(president)
presidents_name

['Shri Ram Nath Kovind',
 'Shri Pranab Mukherjee',
 'Smt Pratibha Devisingh Patil',
 'DR. A.P.J. Abdul Kalam',
 'Shri K. R. Narayanan',
 'Dr Shankar Dayal Sharma',
 'Shri R Venkataraman',
 'Giani Zail Singh',
 'Shri Neelam Sanjiva Reddy',
 'Dr. Fakhruddin Ali Ahmed',
 'Shri Varahagiri Venkata Giri',
 'Dr. Zakir Husain',
 'Dr. Sarvepalli Radhakrishnan',
 'Dr. Rajendra Prasad']

In [33]:
terms_office=soup.find_all('p')
terms_office=terms_office[:18]
terms_office

[<p><span class="terms">Term of Office:</span> 25 July, 2017 to 25 July, 2022 </p>,
 <p><a href="https://ramnathkovind.nic.in" target="_blank">https://ramnathkovind.nic.in</a></p>,
 <p><span class="terms">Term of Office:</span> 25 July, 2012 to 25 July, 2017 </p>,
 <p><a href="http://pranabmukherjee.nic.in" target="_blank">http://pranabmukherjee.nic.in</a></p>,
 <p><span class="terms">Term of Office:</span> 25 July, 2007 to 25 July, 2012 </p>,
 <p><a href="http://pratibhapatil.nic.in" target="_blank">http://pratibhapatil.nic.in</a></p>,
 <p><span class="terms">Term of Office:</span> 25 July, 2002 to 25 July, 2007 </p>,
 <p><a href="http://abdulkalam.nic.in" target="_blank">http://abdulkalam.nic.in</a></p>,
 <p><span class="terms">Term of Office:</span> 25 July, 1997 to 25 July, 2002 </p>,
 <p><span class="terms">Term of Office:</span> 25 July, 1992 to 25 July, 1997 </p>,
 <p><span class="terms">Term of Office:</span> 25 July, 1987 to 25 July, 1992 </p>,
 <p><span class="terms">Term of Office:</span> 25 July, 1982 to 25 July, 1987 </p>,
 <p><span class="terms">Term of Office:</span> 25 July, 1977 to 25 July, 1982 </p>,
 <p><span class="terms">Term of Office:</span> 24 August, 1974 to 11 February, 1977</p>,
 <p><span class="terms">Term of Office:</span> 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974</p>,
 <p><span class="terms">Term of Office:</span> 13 May, 1967 to 3 May, 1969</p>,
 <p><span class="terms">Term of Office:</span> 13 May, 1962 to 13 May, 1967</p>,
 <p><span class="terms">Term of Office:</span> 26 January, 1950 to 13 May, 1962</p>]

In [49]:
term_of_offices=[]
for terms in terms_office:
    terms= terms.get_text().replace('\n','')
    terms=terms.split()
   # terms= terms.strip(url)
    term_of_offices.append( terms)
    
    

term_of_offices
del term_of_offices[1:8:2]
print(term_of_offices)

[['25', 'July,', '2017', 'to', '25', 'July,', '2022'], ['25', 'July,', '2012', 'to', '25', 'July,', '2017'], ['25', 'July,', '2007', 'to', '25', 'July,', '2012'], ['25', 'July,', '2002', 'to', '25', 'July,', '2007'], ['25', 'July,', '1997', 'to', '25', 'July,', '2002'], ['25', 'July,', '1992', 'to', '25', 'July,', '1997'], ['25', 'July,', '1987', 'to', '25', 'July,', '1992'], ['25', 'July,', '1982', 'to', '25', 'July,', '1987'], ['25', 'July,', '1977', 'to', '25', 'July,', '1982'], ['24', 'August,', '1974', 'to', '11', 'February,', '1977'], ['3', 'May,', '1969', 'to', '20', 'July,', '1969', 'and', '24', 'August,', '1969', 'to', '24', 'August,', '1974'], ['13', 'May,', '1967', 'to', '3', 'May,', '1969'], ['13', 'May,', '1962', 'to', '13', 'May,', '1967'], ['26', 'January,', '1950', 'to', '13', 'May,', '1962']]

In [50]:
data=pd.DataFrame()
data['Name of former president']=pd.Series(presidents_name)
data['Term of office']= pd.Series(term_of_offices)
data

,Name of former president,Term of office
0,Shri Ram Nath Kovind,"[25, July,, 2017, to, 25, July,, 2022]"
1,Shri Pranab Mukherjee,"[25, July,, 2012, to, 25, July,, 2017]"
2,Smt Pratibha Devisingh Patil,"[25, July,, 2007, to, 25, July,, 2012]"
3,DR. A.P.J. Abdul Kalam,"[25, July,, 2002, to, 25, July,, 2007]"
4,Shri K. R. Narayanan,"[25, July,, 1997, to, 25, July,, 2002]"
5,Dr Shankar Dayal Sharma,"[25, July,, 1992, to, 25, July,, 1997]"
6,Shri R Venkataraman,"[25, July,, 1987, to, 25, July,, 1992]"
7,Giani Zail Singh,"[25, July,, 1982, to, 25, July,, 1987]"
8,Shri Neelam Sanjiva Reddy,"[25, July,, 1977, to, 25, July,, 1982]"
9,Dr. Fakhruddin Ali Ahmed,"[24, August,, 1974, to, 11, February,, 1977]"
10,Shri Varahagiri Venkata Giri,"[3, May,, 1969, to, 20, July,, 1969, and, 24, ..."
11,Dr. Zakir Husain,"[13, May,, 1967, to, 3, May,, 1969]"
12,Dr. Sarvepalli Radhakrishnan,"[13, May,, 1962, to, 13, May,, 1967]"
13,Dr. Rajendra Prasad,"[26, January,, 1950, to, 13, May,, 1962]"

Q5-a). Top 10 ODI teams in men’s

In [51]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [52]:
page=requests.get(url)
page

In [53]:
soup=BeautifulSoup(page.content, "html.parser")

In [54]:
rank=soup.find_all(attrs={"class":["rankings-block__banner--pos","table-body__cell table-body__cell--position u-text-right"]})
rank

[<td class="rankings-block__banner--pos">1</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">11</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">12</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">13</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">14</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">15</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">16</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">17</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">18</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">19</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">20</td>]

In [55]:
ranks=[]
for ranking in rank:
    ranking=ranking.get_text().replace('\n',"")
    ranks.append(ranking)

In [56]:
teams_name=soup.find_all('span',class_='u-hide-phablet')
teams_name

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>]

In [57]:
team=[]
for name in teams_name:
    name=name.get_text().replace('\n',"")
    team.append(name)

In [59]:
matches_played=soup.find_all(attrs={"class":["rankings-block__banner--matches","table-body__cell u-center-text"]})

In [60]:
matches=[]
for match in matches_played:
    match=match.get_text().replace('\n',"")
    match=match.split()
    matches.append(match)
matches
del matches[2:41:2]
matches

[['19'],
 ['27'],
 ['31'],
 ['22'],
 ['25'],
 ['21'],
 ['30'],
 ['29'],
 ['41'],
 ['18'],
 ['23'],
 ['27'],
 ['25'],
 ['21'],
 ['22'],
 ['23'],
 ['30'],
 ['15'],
 ['22'],
 ['22']]

In [61]:
points=soup.find_all(attrs={"class":["rankings-block__banner--matches","table-body__cell u-center-text"]})
points

[<td class="rankings-block__banner--matches">19</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">3,226</td>,
 <td class="table-body__cell u-center-text">31</td>,
 <td class="table-body__cell u-center-text">3,447</td>,
 <td class="table-body__cell u-center-text">22</td>,
 <td class="table-body__cell u-center-text">2,354</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,548</td>,
 <td class="table-body__cell u-center-text">21</td>,
 <td class="table-body__cell u-center-text">2,111</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,753</td>,
 <td class="table-body__cell u-center-text">29</td>,
 <td class="table-body__cell u-center-text">2,658</td>,
 <td class="table-body__cell u-center-text">41</td>,
 <td class="table-body__cell u-center-text">2,902</td>,
 <td class="table-body__cell u-center-text">18</td>,
 <td class="table-body__cell u-center-text">1,238</td>,
 <td class="table-body__cell u-center-text">23</td>,
 <td class="table-body__cell u-center-text">1,214</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">1,254</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">973</td>,
 <td class="table-body__cell u-center-text">21</td>,
 <td class="table-body__cell u-center-text">673</td>,
 <td class="table-body__cell u-center-text">22</td>,
 <td class="table-body__cell u-center-text">697</td>,
 <td class="table-body__cell u-center-text">23</td>,
 <td class="table-body__cell u-center-text">725</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">919</td>,
 <td class="table-body__cell u-center-text">15</td>,
 <td class="table-body__cell u-center-text">369</td>,
 <td class="table-body__cell u-center-text">22</td>,
 <td class="table-body__cell u-center-text">331</td>,
 <td class="table-body__cell u-center-text">22</td>,
 <td class="table-body__cell u-center-text">134</td>]

In [62]:
point=[]
for pt in points:
    pt=pt.get_text().replace('\n',"")
    pt=pt.split()
    point.append(pt)
point=point[2:41:2]

In [63]:
ratings=soup.find_all(attrs={"class":["rankings-block__banner--rating u-text-right","table-body__cell u-text-right rating"]})
ratings

[<td class="rankings-block__banner--rating u-text-right">
                             124
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>,
 <td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">111</td>,
 <td class="table-body__cell u-text-right rating">107</td>,
 <td class="table-body__cell u-text-right rating">102</td>,
 <td class="table-body__cell u-text-right rating">101</td>,
 <td class="table-body__cell u-text-right rating">92</td>,
 <td class="table-body__cell u-text-right rating">92</td>,
 <td class="table-body__cell u-text-right rating">71</td>,
 <td class="table-body__cell u-text-right rating">69</td>,
 <td class="table-body__cell u-text-right rating">53</td>,
 <td class="table-body__cell u-text-right rating">46</td>,
 <td class="table-body__cell u-text-right rating">39</td>,
 <td class="table-body__cell u-text-right rating">32</td>,
 <td class="table-body__cell u-text-right rating">32</td>,
 <td class="table-body__cell u-text-right rating">32</td>,
 <td class="table-body__cell u-text-right rating">31</td>,
 <td class="table-body__cell u-text-right rating">25</td>,
 <td class="table-body__cell u-text-right rating">15</td>,
 <td class="table-body__cell u-text-right rating">6</td>]

In [64]:
rating=[]
for rt in ratings:
    rt=rt.get_text().replace('\n',"")
    rt=rt.split()
    rating.append(rt)

In [65]:
data=pd.DataFrame()
data['Rank']=pd.Series(ranks)
data['Team Name']= pd.Series(team)
data['Matches']=pd.Series(matches)
data['Points']=pd.Series(point)
data['Ratings']=pd.Series(rating)
data

   Rank         Team Name Matches   Points Ratings
0     1       New Zealand    [19]  [3,226]   [124]
1     2           England    [27]  [3,447]   [119]
2     3             India    [31]  [2,354]   [111]
3     4          Pakistan    [22]  [2,548]   [107]
4     5         Australia    [25]  [2,111]   [102]
5     6      South Africa    [21]  [2,753]   [101]
6     7        Bangladesh    [30]  [2,658]    [92]
7     8         Sri Lanka    [29]  [2,902]    [92]
8     9       West Indies    [41]  [1,238]    [71]
9    10       Afghanistan    [18]  [1,214]    [69]
10   11           Ireland    [23]  [1,254]    [53]
11   12          Scotland    [27]    [973]    [46]
12   13          Zimbabwe    [25]    [673]    [39]
13   14       Netherlands    [21]    [697]    [32]
14   15               UAE    [22]    [725]    [32]
15   16     United States    [23]    [919]    [32]
16   17              Oman    [30]    [369]    [31]
17   18           Namibia    [15]    [331]    [25]
18   19             Nepal    [22]    [134]    [15]
19   20  Papua New Guinea    [22]      NaN     [6]

In [66]:
df=data.head(10)
df

  Rank     Team Name Matches   Points Ratings
0    1   New Zealand    [19]  [3,226]   [124]
1    2       England    [27]  [3,447]   [119]
2    3         India    [31]  [2,354]   [111]
3    4      Pakistan    [22]  [2,548]   [107]
4    5     Australia    [25]  [2,111]   [102]
5    6  South Africa    [21]  [2,753]   [101]
6    7    Bangladesh    [30]  [2,658]    [92]
7    8     Sri Lanka    [29]  [2,902]    [92]
8    9   West Indies    [41]  [1,238]    [71]
9   10   Afghanistan    [18]  [1,214]    [69]

Q5-b)  Top 10 ODI Batsmen

In [67]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [68]:
page=requests.get(url)
page

In [69]:
soup=BeautifulSoup(page.content, "html.parser")

In [70]:
rank=soup.find_all("span", attrs={"class":["rankings-block__pos-number","rankings-table__pos-number"]})

In [71]:
ranks=[]
for ranking in rank:
    ranking=ranking.get_text().replace('\n',"")
    ranking=ranking.strip()
    ranks.append(ranking)
ranks=ranks[0:10]

In [72]:
player_name=soup.find_all('td', class_='table-body__cell name')
player_name.insert(0,(soup.find('div',class_='rankings-block__banner--name')))

In [73]:
name=[]
for player in player_name:
    player=player.get_text().replace('\n',"")
    player=player.strip()
    name.append(player)
name=name[0:10]

In [74]:
team=soup.find_all(attrs={"class":["table-body__logo-text"]})
team=team[2:3]
team

In [75]:
top=[]
for m in team:
    m=m.get_text().replace('\n',"")
    top.append(m)
top

['PAK']

In [76]:
team1=soup.find_all(attrs={"class":["table-body__logo-text"]})
team1=team1[0:9]
team1

[<span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>]

In [77]:
teams=[]
for tm in team1:
    tm=tm.get_text().replace('\n',"")
    teams.append(tm)
teams

['SA', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'ENG', 'NZ', 'AUS']

In [78]:
team_name=top+teams
team_name

['PAK', 'SA', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'ENG', 'NZ', 'AUS']

In [79]:
ratings=soup.find_all(attrs={"class":["rankings-block__banner--rating","table-body__cell u-text-right rating"]})[0:10]
ratings

[<div class="rankings-block__banner--rating">890</div>,
 <td class="table-body__cell u-text-right rating">789</td>,
 <td class="table-body__cell u-text-right rating">784</td>,
 <td class="table-body__cell u-text-right rating">779</td>,
 <td class="table-body__cell u-text-right rating">744</td>,
 <td class="table-body__cell u-text-right rating">740</td>,
 <td class="table-body__cell u-text-right rating">739</td>,
 <td class="table-body__cell u-text-right rating">732</td>,
 <td class="table-body__cell u-text-right rating">722</td>,
 <td class="table-body__cell u-text-right rating">706</td>]

In [80]:
rating=[]
for rate in ratings:
    rate=rate.get_text().replace('\n',"")
    rate=rate.strip()
    rating.append(rate)
rating

['890', '789', '784', '779', '744', '740', '739', '732', '722', '706']

In [81]:
df = pd.DataFrame({'Ranks':ranks,'Name':name,'Team':team_name,'Rating':rating})
df

  Ranks                   Name Team Rating
0     1             Babar Azam  PAK    890
1     2  Rassie van der Dussen   SA    789
2     3        Quinton de Kock   SA    784
3     4            Imam-ul-Haq  PAK    779
4     5            Virat Kohli  IND    744
5     6           Rohit Sharma  IND    740
6     7           David Warner  AUS    739
7     8         Jonny Bairstow  ENG    732
8     9            Ross Taylor   NZ    722
9    10            Aaron Finch  AUS    706

Q5-c) Top 10 ODI bowlers

In [82]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup = BeautifulSoup(page.content,'html.parser')

In [84]:
bowl=soup.select("tr.table-body a")
bowl=bowl[9:18]

In [85]:
top=soup.find_all(class_="rankings-block__banner--name")[1]
top

In [86]:
bowl.insert(0,top)
bowl

[<div class="rankings-block__banner--name">Trent Boult</div>,
 <a href="/rankings/mens/player-rankings/857">Josh Hazlewood</a>,
 <a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>,
 <a href="/rankings/mens/player-rankings/1124">Jasprit Bumrah</a>,
 <a href="/rankings/mens/player-rankings/4530">Shaheen Afridi</a>,
 <a href="/rankings/mens/player-rankings/618">Mohammad Nabi</a>,
 <a href="/rankings/mens/player-rankings/1597">Mehedi Hasan</a>,
 <a href="/rankings/mens/player-rankings/2885">Rashid Khan</a>,
 <a href="/rankings/mens/player-rankings/1505">Matt Henry</a>,
 <a href="/rankings/mens/player-rankings/1594">Mustafizur Rahman</a>]

In [87]:
name=[]
for nm in bowl:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    name.append(nm)

In [88]:
team=soup.select("span.table-body__logo-text")
team=team[9:18]

In [89]:
teams=[]

for tm in team:
    tm=tm.get_text().replace('\n'," ")
    teams.append(tm)
teams

['AUS', 'AFG', 'IND', 'PAK', 'AFG', 'BAN', 'AFG', 'NZ', 'BAN']

In [90]:
top2=soup.select("span.table-body__logo-text")[16:17]
top2

In [91]:
team1=[]

for tm in top2:
    tm=tm.get_text().replace('\n'," ")
    team1.append(tm)
team1

['NZ']

In [92]:
rate=soup.find_all("td", class_="table-body__cell u-text-right rating")[9:18]

In [93]:
top3=soup.select("div.rankings-block__banner--rating")[1]
top3

In [94]:
rate.insert(0,top3)

In [95]:
ratings=[]
for rt in rate:
    rt=rt.get_text().replace('\n',"")
    rt=rt.strip()
    ratings.append(rt)
ratings

['720', '678', '676', '662', '661', '657', '655', '651', '644', '640']

In [96]:
df=pd.DataFrame({"Players":name,"team":team_name,"rating":ratings})
df=df.style.hide_index()
df

Q6-a) Top 10 ODI teams in women’s cricket

In [98]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(page.content,'html.parser')

In [99]:
teams_name=soup.find_all('span',class_='u-hide-phablet')[0:10]
teams_name

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Sri Lanka</span>]

In [100]:
team=[]
for name in teams_name:
    name=name.get_text().replace('\n',"")
    name=name.strip()
    team.append(name)
team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [101]:
matches_played=soup.find_all(attrs={"class":["rankings-block__banner--matches","table-body__cell u-center-text"]})
matches_played

[<td class="rankings-block__banner--matches">29</td>,
 <td class="table-body__cell u-center-text">33</td>,
 <td class="table-body__cell u-center-text">4,046</td>,
 <td class="table-body__cell u-center-text">35</td>,
 <td class="table-body__cell u-center-text">4,157</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,219</td>,
 <td class="table-body__cell u-center-text">31</td>,
 <td class="table-body__cell u-center-text">3,019</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,768</td>,
 <td class="table-body__cell u-center-text">12</td>,
 <td class="table-body__cell u-center-text">930</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">1,962</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">516</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">495</td>,
 <td class="table-body__cell u-center-text">8</td>,
 <td class="table-body__cell u-center-text">0</td>]

In [102]:
matches=[]
for match in matches_played:
    match=match.get_text().replace('\n',"")
    match=match.strip()
    matches.append(match)
matches

del matches[2:21:2]
matches=matches[0:10]
matches

['29', '33', '35', '32', '31', '30', '12', '30', '11', '11']

In [103]:
points=soup.find_all(attrs={"class":["rankings-block__banner--points","table-body__cell u-center-text"]})
points

[<td class="rankings-block__banner--points">4,837</td>,
 <td class="table-body__cell u-center-text">33</td>,
 <td class="table-body__cell u-center-text">4,046</td>,
 <td class="table-body__cell u-center-text">35</td>,
 <td class="table-body__cell u-center-text">4,157</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,219</td>,
 <td class="table-body__cell u-center-text">31</td>,
 <td class="table-body__cell u-center-text">3,019</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,768</td>,
 <td class="table-body__cell u-center-text">12</td>,
 <td class="table-body__cell u-center-text">930</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">1,962</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">516</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">495</td>,
 <td class="table-body__cell u-center-text">8</td>,
 <td class="table-body__cell u-center-text">0</td>]

In [104]:
point=[]
for pt in points:
    pt=pt.get_text().replace('\n',"")
    pt=pt.strip()
    point.append(pt)
point=point[0:21:2]
point=point[0:10]
point

['4,837',
 '4,046',
 '4,157',
 '3,219',
 '3,019',
 '2,768',
 '930',
 '1,962',
 '516',
 '495']

In [105]:
ratings=soup.find_all(attrs={"class":["rankings-block__banner--rating u-text-right","table-body__cell u-text-right rating"]})
ratings

[<td class="rankings-block__banner--rating u-text-right">
                             167
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>,
 <td class="table-body__cell u-text-right rating">123</td>,
 <td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">101</td>,
 <td class="table-body__cell u-text-right rating">97</td>,
 <td class="table-body__cell u-text-right rating">92</td>,
 <td class="table-body__cell u-text-right rating">78</td>,
 <td class="table-body__cell u-text-right rating">65</td>,
 <td class="table-body__cell u-text-right rating">47</td>,
 <td class="table-body__cell u-text-right rating">45</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

In [106]:
rating=[]
for rt in ratings:
    rt=rt.get_text().replace('\n',"")
    rt=rt.strip()
    rating.append(rt)
rating=rating[0:10]
rating

['167', '123', '119', '101', '97', '92', '78', '65', '47', '45']

In [107]:
df=pd.DataFrame({"Team":team,"Matches":matches,"point":point,"rating":rating})
df

           Team Matches  point rating
0     Australia      29  4,837    167
1       England      33  4,046    123
2  South Africa      35  4,157    119
3         India      32  3,219    101
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8       Ireland      11    516     47
9     Sri Lanka      11    495     45

Q6-b) Top 10 women’s ODI Batting players

In [113]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get(url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(page.content,'html.parser')

In [114]:
player_name=soup.find_all('td', class_='table-body__cell name')
player_name.insert(0,(soup.find('div',class_='rankings-block__banner--name')))
player_name=player_name[:10]
player_name

[<div class="rankings-block__banner--name">Alyssa Healy</div>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1817">Beth Mooney</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/3176">Laura Wolvaardt</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/469">Meg Lanning</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/465">Rachael Haynes</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/487">Amy Satterthwaite</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/545">Tammy Beaumont</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/600">Chamari Athapaththu</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1809">Smriti Mandhana</a>
 </td>]

In [115]:
name=[]
for player in player_name:
    player=player.get_text().replace('\n',"")
    player=player.strip()
    name.append(player)
name

['Alyssa Healy',
 'Beth Mooney',
 'Natalie Sciver',
 'Laura Wolvaardt',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Chamari Athapaththu',
 'Smriti Mandhana']

In [116]:
team=soup.find_all('span', class_='table-body__logo-text')
team.insert(0,(soup.find('span',class_='table-body__logo-text')))
team=team[:10]
team

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">SL</span>,
 <span class="table-body__logo-text">IND</span>]

In [117]:
teams=[]
for tm in team:
    tm=tm.get_text().replace('\n',"")
    teams.append(tm)
teams

['AUS', 'AUS', 'ENG', 'SA', 'AUS', 'AUS', 'NZ', 'ENG', 'SL', 'IND']

In [118]:
ratings=soup.find_all(attrs={"class":["rankings-block__banner--rating","table-body__cell u-text-right rating"]})[0:10]
ratings

[<div class="rankings-block__banner--rating">785</div>,
 <td class="table-body__cell u-text-right rating">749</td>,
 <td class="table-body__cell u-text-right rating">747</td>,
 <td class="table-body__cell u-text-right rating">732</td>,
 <td class="table-body__cell u-text-right rating">710</td>,
 <td class="table-body__cell u-text-right rating">701</td>,
 <td class="table-body__cell u-text-right rating">681</td>,
 <td class="table-body__cell u-text-right rating">667</td>,
 <td class="table-body__cell u-text-right rating">655</td>,
 <td class="table-body__cell u-text-right rating">649</td>]

In [119]:
rating=[]
for rate in ratings:
    rate=rate.get_text().replace('\n',"")
    rate=rate.strip()
    rating.append(rate)
rating

['785', '749', '747', '732', '710', '701', '681', '667', '655', '649']

In [120]:
df = pd.DataFrame({'Name':name,'Team':teams,'Rating':rating})
df=df.style.hide_index()
df

Q6-c) Top 10 women’s ODI all-rounder

In [122]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get(url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup = BeautifulSoup(page.content,'html.parser')

In [123]:
player_name=soup.find_all('td', class_='table-body__cell name')
player_name=player_name[18:]
player_name

[<td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/471">Ellyse Perry</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/424">Marizanne Kapp</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/3126">Hayley Matthews</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/3756">Amelia Kerr</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/4128">Ashleigh Gardner</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/3192">Deepti Sharma</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/468">Jess Jonassen</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/547">Katherine Brunt</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
 </td>]

In [124]:
name=[]
for player in player_name:
    player=player.get_text().replace('\n',"")
    player=player.strip()
    name.append(player)
name

['Ellyse Perry',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Stafanie Taylor']

In [125]:
player_name1=soup.find_all('div',class_='rankings-block__banner--name')
player_name1=player_name1[2:]
player_name1

In [126]:
name1=[]
for player in player_name1:
    player=player.get_text().replace('\n',"")
    player=player.strip()
    name1.append(player)
name1

['Natalie Sciver']

In [127]:
name_all=name1+name
name_all

['Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Katherine Brunt',
 'Stafanie Taylor']

In [128]:
team=soup.find_all('span', class_='table-body__logo-text')[18:]
team

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">WI</span>]

In [129]:
team1=[]

for tm in team:
    tm=tm.get_text().replace('\n'," ")
    team1.append(tm)
team1

['AUS', 'SA', 'WI', 'NZ', 'AUS', 'IND', 'AUS', 'ENG', 'WI']

In [130]:
top2=soup.select("span.table-body__logo-text")[1:2]
top2

In [131]:
team2=[]

for tm in top2:
    tm=tm.get_text().replace('\n'," ")
    team2.append(tm)
team2

['ENG']

In [132]:
rate=soup.find_all("td", class_="table-body__cell u-text-right rating")[18:]
rate

[<td class="table-body__cell u-text-right rating">374</td>,
 <td class="table-body__cell u-text-right rating">349</td>,
 <td class="table-body__cell u-text-right rating">339</td>,
 <td class="table-body__cell u-text-right rating">336</td>,
 <td class="table-body__cell u-text-right rating">270</td>,
 <td class="table-body__cell u-text-right rating">252</td>,
 <td class="table-body__cell u-text-right rating">246</td>,
 <td class="table-body__cell u-text-right rating">220</td>,
 <td class="table-body__cell u-text-right rating">207</td>]

In [133]:
top3=soup.select("div.rankings-block__banner--rating")[2]
top3

In [134]:
rate.insert(0,top3)
rate

[<div class="rankings-block__banner--rating">379</div>,
 <td class="table-body__cell u-text-right rating">374</td>,
 <td class="table-body__cell u-text-right rating">349</td>,
 <td class="table-body__cell u-text-right rating">339</td>,
 <td class="table-body__cell u-text-right rating">336</td>,
 <td class="table-body__cell u-text-right rating">270</td>,
 <td class="table-body__cell u-text-right rating">252</td>,
 <td class="table-body__cell u-text-right rating">246</td>,
 <td class="table-body__cell u-text-right rating">220</td>,
 <td class="table-body__cell u-text-right rating">207</td>]

In [135]:
ratings=[]
for rt in rate:
    rt=rt.get_text().replace('\n',"")
    rt=rt.strip()
    ratings.append(rt)
ratings

['379', '374', '349', '339', '336', '270', '252', '246', '220', '207']

In [136]:
df=pd.DataFrame({"Players":name_all,"team":team_name,"rating":ratings})
df=df.style.hide_index()
df

Q7 scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [137]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content,'html.parser')

In [138]:
head=soup.select("a.LatestNews-headline")

In [139]:
headline=[]
for nm in head:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    headline.append(nm)
headline

['Stocks are stormy into September. Assessing which safe haven is right for you',
 'These are the Street’s favorite defensive stocks amid September’s bad reputation',
 "This $310,000 electric RV has heated floors and Elon Musk's internet—look inside",
 "Mark Zuckerberg: Social media is for 'building relationships,' not scrolling",
 'How electric vehicle manufacturing could shrink the Midwestern job market',
 "Here's how student loan forgiveness could impact your credit score",
 'Airlines revamp in-flight menus, from vegan meatballs to ice cream sundaes',
 "Over 25 million watched 'The Lord of the Rings: The Rings of Power,' Amazon says",
 'New study: These are the top 10 best cities in the U.S. for Gen Zers',
 "You can still get at-home Covid tests for free—here's how",
 'France says imposing a price cap on Russian oil will be difficult',
 'NASA delays Artemis moon mission after second launch attempt halted',
 'How this 28-year old makes $189,000 a year off 7 income streams: ‘I work just 3.5 days a week’',
 "Trump SPAC's survival at stake in Digital World shareholder vote on merger delay",
 'Analysts are raving about these top stocks they say are firing on all cylinders',
 'The housing tech revolution boosted by the pandemic continues. How to play it',
 'This couple had an Amazon-themed wedding to celebrate their love of e-commerce',
 "Here's how much the typical Gen Z worker makes in every U.S. state",
 "New omicron boosters are available, but it's unclear how effective they will be",
 'These charts show how the 2022 box office sizzled, then fizzled',
 "Inflation Reduction Act: Here's when you may claim climate tax breaks, rebates",
 'Sen. Lindsey Graham says he was stating the obvious with Trump riots claim',
 'EU economics chief says bloc is ready to react over halted Russian gas supplies',
 'EU energy chief urges China and India to support a price cap on Russian oil',
 'Trump pick in key Michigan race threatened to kill family: Court record',
 "How 'quiet quitting' became the next phase of the Great Resignation",
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 'Comcast executives expect Disney to stick to its plan to buy remaining stake in Hulu',
 'Investing Club: The week in review, the week ahead — Sept. 2, 2022',
 'What to watch in the markets in the week ahead']

In [140]:
time=soup.find_all('time',class_='LatestNews-timestamp')

In [141]:
published_time=[]
for nm in time:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    published_time.append(nm)


published_time

['44 Min Ago',
 '49 Min Ago',
 '59 Min Ago',
 '59 Min Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '16 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '23 Hours Ago',
 '23 Hours Ago',
 '24 Hours Ago',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 3, 2022',
 'September 2, 2022',
 'September 2, 2022',
 'September 2, 2022',
 'September 2, 2022',
 'September 2, 2022',
 'September 2, 2022']

In [142]:
linked=soup.find_all('a', class_='LatestNews-headline')
links= [link['href'] for link in linked]
links

['https://www.cnbc.com/2022/09/04/how-to-assess-which-safe-haven-is-right-for-you-amid-stormy-september.html',
 'https://www.cnbc.com/2022/09/04/this-is-the-streets-defensive-advice-amid-septembers-bad-reputation.html',
 'https://www.cnbc.com/2022/09/04/bowlus-all-electric-luxury-rv-with-starlink-wifi-look-inside.html',
 'https://www.cnbc.com/2022/09/04/zuckerberg-social-media-is-for-building-relationships-not-scrolling.html',
 'https://www.cnbc.com/2022/09/04/ev-manufacturing-may-shrink-us-midwest-auto-parts-trade.html',
 'https://www.cnbc.com/2022/09/04/how-student-loan-forgiveness-could-impact-your-credit-score.html',
 'https://www.cnbc.com/2022/09/04/airlines-revamp-in-flight-menus-from-vegan-meatballs-to-ice-cream-sundaes.html',
 'https://www.cnbc.com/2022/09/03/amazon-says-the-rings-of-power-watched-by-more-than-25-million.html',
 'https://www.cnbc.com/2022/09/03/top-10-best-cities-in-the-us-for-gen-z.html',
 'https://www.cnbc.com/2022/09/03/how-you-can-still-get-at-home-covid-tests-for-free.html',
 'https://www.cnbc.com/2022/09/03/france-says-imposing-a-price-cap-on-russian-oil-will-be-difficult.html',
 'https://www.cnbc.com/2022/09/03/nasa-delays-artemis-i-moon-rocket-launch.html',
 'https://www.cnbc.com/2022/09/03/how-this-28-year-old-makes-189000-a-year-off-7-income-streams-i-work-less-than-4-days-a-week.html',
 'https://www.cnbc.com/2022/09/03/trump-spac-shareholders-vote-on-delaying-merger-heres-what-to-know.html',
 'https://www.cnbc.com/2022/09/03/buy-stocks-such-as-home-depot-and-vizio-in-this-uncertain-market.html',
 'https://www.cnbc.com/2022/09/03/what-proptech-means-for-the-future-of-housing-.html',
 'https://www.cnbc.com/2022/09/03/amazon-themed-wedding-celebrates-couples-love-of-e-commerce.html',
 'https://www.cnbc.com/2022/09/03/how-much-money-gen-z-workers-earn-in-every-state.html',
 'https://www.cnbc.com/2022/09/03/covid-19-omicron-shots-available-but-their-effectiveness-is-unclear-.html',
 'https://www.cnbc.com/2022/09/03/how-the-summer-box-office-sizzled-then-fizzled-in-charts.html',
 'https://www.cnbc.com/2022/09/03/inflation-reduction-act-when-to-claim-climate-tax-breaks-rebates.html',
 'https://www.cnbc.com/2022/09/03/sen-graham-says-he-was-stating-the-obvious-with-trump-riots-claim.html',
 'https://www.cnbc.com/2022/09/03/europe-ready-to-react-to-halted-russian-gas-supplies-official-says.html',
 'https://www.cnbc.com/2022/09/03/eu-urges-china-and-india-to-support-a-price-cap-on-russian-oil.html',
 'https://www.cnbc.com/2022/09/02/trump-pick-in-michigan-election-kristina-karamo-threatened-to-kill-family.html',
 'https://www.cnbc.com/2022/09/02/how-quiet-quitting-became-the-next-phase-of-the-great-resignation.html',
 'https://www.cnbc.com/2022/09/02/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2022/09/02/comcast-executives-expect-disney-to-buy-remaining-stake-in-hulu.html',
 'https://www.cnbc.com/2022/09/02/investing-club-the-week-in-review-the-week-ahead-sept-2-2022.html',
 'https://www.cnbc.com/2022/09/02/as-wall-street-returns-next-week-trading-may-focus-on-rising-rates.html']

In [143]:
df=pd.DataFrame({"Headline":headline,"Time":published_time, "News Link": links})
df

,Headline,Time,News Link
0,Stocks are stormy into September. Assessing wh...,44 Min Ago,https://www.cnbc.com/2022/09/04/how-to-assess-...
1,These are the Street’s favorite defensive stoc...,49 Min Ago,https://www.cnbc.com/2022/09/04/this-is-the-st...
2,"This $310,000 electric RV has heated floors an...",59 Min Ago,https://www.cnbc.com/2022/09/04/bowlus-all-ele...
3,Mark Zuckerberg: Social media is for 'building...,59 Min Ago,https://www.cnbc.com/2022/09/04/zuckerberg-soc...
4,How electric vehicle manufacturing could shrin...,2 Hours Ago,https://www.cnbc.com/2022/09/04/ev-manufacturi...
5,Here's how student loan forgiveness could impa...,2 Hours Ago,https://www.cnbc.com/2022/09/04/how-student-lo...
6,"Airlines revamp in-flight menus, from vegan me...",3 Hours Ago,https://www.cnbc.com/2022/09/04/airlines-revam...
7,Over 25 million watched 'The Lord of the Rings...,16 Hours Ago,https://www.cnbc.com/2022/09/03/amazon-says-th...
8,New study: These are the top 10 best cities in...,22 Hours Ago,https://www.cnbc.com/2022/09/03/top-10-best-ci...
9,You can still get at-home Covid tests for free...,22 Hours Ago,https://www.cnbc.com/2022/09/03/how-you-can-st...
10,France says imposing a price cap on Russian oi...,22 Hours Ago,https://www.cnbc.com/2022/09/03/france-says-im...
11,NASA delays Artemis moon mission after second ...,23 Hours Ago,https://www.cnbc.com/2022/09/03/nasa-delays-ar...
12,"How this 28-year old makes $189,000 a year off...",23 Hours Ago,https://www.cnbc.com/2022/09/03/how-this-28-ye...
13,Trump SPAC's survival at stake in Digital Worl...,24 Hours Ago,https://www.cnbc.com/2022/09/03/trump-spac-sha...
14,Analysts are raving about these top stocks the...,"September 3, 2022",https://www.cnbc.com/2022/09/03/buy-stocks-suc...
15,The housing tech revolution boosted by the pan...,"September 3, 2022",https://www.cnbc.com/2022/09/03/what-proptech-...
16,This couple had an Amazon-themed wedding to ce...,"September 3, 2022",https://www.cnbc.com/2022/09/03/amazon-themed-...
17,Here's how much the typical Gen Z worker makes...,"September 3, 2022",https://www.cnbc.com/2022/09/03/how-much-money...
18,"New omicron boosters are available, but it's u...","September 3, 2022",https://www.cnbc.com/2022/09/03/covid-19-omicr...
19,These charts show how the 2022 box office sizz...,"September 3, 2022",https://www.cnbc.com/2022/09/03/how-the-summer...
20,Inflation Reduction Act: Here's when you may c...,"September 3, 2022",https://www.cnbc.com/2022/09/03/inflation-redu...
21,Sen. Lindsey Graham says he was stating the ob...,"September 3, 2022",https://www.cnbc.com/2022/09/03/sen-graham-say...
22,EU economics chief says bloc is ready to react...,"September 3, 2022",https://www.cnbc.com/2022/09/03/europe-ready-t...
23,EU energy chief urges China and India to suppo...,"September 3, 2022",https://www.cnbc.com/2022/09/03/eu-urges-china...
24,Trump pick in key Michigan race threatened to ...,"September 2, 2022",https://www.cnbc.com/2022/09/02/trump-pick-in-...
25,How 'quiet quitting' became the next phase of ...,"September 2, 2022",https://www.cnbc.com/2022/09/02/how-quiet-quit...
26,Pro Picks: Watch all of Friday's big stock cal...,"September 2, 2022",https://www.cnbc.com/2022/09/02/pro-picks-watc...
27,Comcast executives expect Disney to stick to i...,"September 2, 2022",https://www.cnbc.com/2022/09/02/comcast-execut...
28,"Investing Club: The week in review, the week a...","September 2, 2022",https://www.cnbc.com/2022/09/02/investing-club...
29,What to watch in the markets in the week ahead,"September 2, 2022",https://www.cnbc.com/2022/09/02/as-wall-street...

Q8) most downloaded articles from AI in last 90 days

In [144]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup = BeautifulSoup(page.content,'html.parser')
page

In [145]:
title=soup.find_all('h2', class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR')

In [146]:
headline=[]
for nm in title:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    headline.append(nm)

In [147]:
author=soup.find_all('span',class_='sc-1w3fpd7-0 pgLAT')

In [148]:
authors=[]
for nm in author:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    authors.append(nm)
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S.',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni',
 'Boden, Margaret A.',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R.',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark',
 'Bench-Capon, T.J.M., Dunne, Paul E.',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat',
 'Arora, Saurabh, Doshi, Prashant',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.',
 'Riveiro, Maria, Thill, Serge',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T.',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin',
 'Kohavi, Ron, John, George H.',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna',
 'Ying, Mingsheng']

In [149]:
date=soup.find_all('span', class_='sc-1thf9ly-2 bKddwo')
date

[<span class="sc-1thf9ly-2 bKddwo"><span>October 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>October 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>October 2015</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>August 1998</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>June 2017</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>February 2019</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>April 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>February 2015</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>August 1999</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>March 2020</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>February 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>October 2007</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>August 2016</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>April 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>December 1997</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>August 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>September 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>June 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>December 2016</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>September 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>May 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>January 2014</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>December 1997</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>October 2021</span></span>,
 <span class="sc-1thf9ly-2 bKddwo"><span>February 2010</span></span>]

In [150]:
published_date=[]
for nm in date:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    published_date.append(nm)
published_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [151]:
linked=soup.find_all('a', class_='sc-5smygv-0 nrDZj')
links= [link['href'] for link in linked]
links

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [152]:
df=pd.DataFrame({"Paper Title":headline, "Authors":authors,"Published Date":published_date, "Paper URL":links})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

Q9 Write a python program to scrape mentioned details from dineout.co.in :

In [153]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content,'html.parser')
page

In [154]:
restaurant=soup.find_all('a',class_='restnt-name ellipsis')
restaurant

[<a analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-connaught-place-central-delhi-86792">Castle Barbeque</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="59633_Jungle Jamboree" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/jungle-jamboree-lajpat-nagar-3-south-delhi-59633">Jungle Jamboree</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="38113_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-tagore-garden-west-delhi-38113">Castle Barbeque</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="406_Cafe Knosh" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/cafe-knosh-shahdara-east-delhi-406">Cafe Knosh</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="79307_The Barbeque Company" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/the-barbeque-company-sector-38a-noida-79307">The Barbeque Company</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="2687_India Grill" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/india-grill-saket-south-delhi-2687">India Grill</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="52501_Delhi Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/delhi-barbeque-mahipalpur-south-delhi-52501">Delhi Barbeque</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="34822_The Monarch - Bar Be Que Village" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/the-monarch-bar-be-que-village-indirapuram-ghaziabad-34822">The Monarch - Bar Be Que Village</a>,
 <a analytics-action="RestaurantCardClick" analytics-label="549_Indian Grill Room" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/indian-grill-room-golf-course-road-gurgaon-549">Indian Grill Room</a>]

In [155]:
name=[]
for nm in restaurant:
    nm=nm.get_text().split('(')[0]
    name.append(nm)
name

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [156]:
cuisine=soup.find_all('span', class_='double-line-ellipsis')
cuisine

[<span class="double-line-ellipsis"><span>₹ 2,000 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/chinese-cuisine">Chinese</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a></span>,
 <span class="double-line-ellipsis"><span>₹ 1,680 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/asian-cuisine">Asian</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/italian-cuisine">Italian</a></span>,
 <span class="double-line-ellipsis"><span>₹ 2,000 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/chinese-cuisine">Chinese</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a></span>,
 <span class="double-line-ellipsis"><span>₹ 3,000 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/italian-cuisine">Italian</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/continental-cuisine">Continental</a></span>,
 <span class="double-line-ellipsis"><span>₹ 1,700 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/chinese-cuisine">Chinese</a></span>,
 <span class="double-line-ellipsis"><span>₹ 2,400 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/italian-cuisine">Italian</a></span>,
 <span class="double-line-ellipsis"><span>₹ 1,800 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a></span>,
 <span class="double-line-ellipsis"><span>₹ 1,900 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a></span>,
 <span class="double-line-ellipsis"><span>₹ 2,200 for 2 (approx)</span><span> | </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/north-indian-cuisine">North Indian</a><span>, </span><a data-w-onclick="stopClickPropagation|w1-restarant" href="/delhi-restaurants/mughlai-cuisine">Mughlai</a></span>]

In [157]:
dish=[]
for nm in cuisine:
    nm=nm.get_text().replace('\n',' ')
    nm=nm.split('|')[1]
    dish.append(nm)
dish

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Chinese, North Indian',
 ' Italian, Continental',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [159]:
loc=soup.find_all('div',class_='restnt-loc ellipsis')

In [160]:
location=[]
for nm in loc:
    nm=nm.get_text().replace('\n',' ')
    nm=nm.strip()
    location.append(nm)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [161]:
rat=soup.find_all('div',class_='restnt-rating rating-4')
rat

[<div class="restnt-rating rating-4">4.1</div>,
 <div class="restnt-rating rating-4">3.9</div>,
 <div class="restnt-rating rating-4">3.9</div>,
 <div class="restnt-rating rating-4">4.3</div>,
 <div class="restnt-rating rating-4">4</div>,
 <div class="restnt-rating rating-4">3.9</div>,
 <div class="restnt-rating rating-4">3.7</div>,
 <div class="restnt-rating rating-4">3.8</div>,
 <div class="restnt-rating rating-4">4.3</div>]

In [162]:
rating=[]
for nm in rat:
    nm=nm.get_text().replace('\n',' ')
    nm=nm.strip( )
    rating.append(nm)
rating

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.7', '3.8', '4.3']

In [163]:
iurl= []
a = soup.find_all("img",class_="no-img")
for b in a:
    #print(str(b['data-src']))
    iurl.append(str(b['data-src']))
    
iurl

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [164]:
df=pd.DataFrame({'Restaurant_name':name,'Cuisine':dish,'Location':location,'Rating':rating,'Image Url':iurl})
df.style.hide_index()

Q10 top publications from Google Scholar

In [165]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup = BeautifulSoup(page.content,'html.parser')
page

In [166]:
rank=soup.find_all('td',class_='gsc_mvt_p')

In [167]:
ranks=[]
for nm in rank:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    ranks.append(nm)

In [168]:
pub=soup.find_all('td', class_='gsc_mvt_t')

In [169]:
publication=[]
for nm in pub:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    publication.append(nm)

In [170]:
h5=soup.find_all('a', class_='gs_ibl gsc_mp_anchor')

In [171]:
h5_index=[]
for nm in h5:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    h5_index.append(nm)

In [172]:
h5m=soup.find_all('span',class_='gs_ibl gsc_mp_anchor')

In [173]:
h5_median=[]
for nm in h5m:
    nm=nm.get_text().replace('\n',"")
    nm=nm.strip()
    h5_median.append(nm)
h5_median[:100]

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']

In [174]:
df=pd.DataFrame({"Rank":ranks, "Publication":publication,"h5-index":h5_index,"h5-median":h5_median})

df=df.style.hide_index()
df